[2019-04-05 17:59] dankirkpatrick opened #1 "Node test does not detect statefulsets when analyzing taints"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I have GPU nodes with a taint on them.  On those nodes, I do not have any deployments, but I do have a statefulset that tolerates the taint.  Popeye reports, "Found taint `nvidia.com/gpu but no pod can tolerate."  It appears that P

[2019-04-05 18:50] derailed commented on #1
@dankirkpatrick Thank you for this very first report!

Can you tell me a bit more about how you've started popeye and which namespace are the sts running in ie are we dealing with multiple namespaces or is there a single namespace at play here. Actually Popeye only looks at pods in your cluster, thus I am thinking some pods ie the one defining the tolerations are somehow not getting included.

[2019-04-06 00:29] dankirkpatrick commented on #1
I ran Popeye by saying "popeye --cluster <cluster-name>".   Maybe that's my problem?  It only looks in the current namespace, or maybe "default"?

The tainted nodes are GPU nodes, so the only pods running on the node are the infrastructure pods (mostly in kube-system, but we run a few infrastructure things, like Falco, in different namespaces).  The pods with the tolerations are running in a names

[2019-04-06 02:18] gabeduke opened #2 "Index out of bounds on lint nodes"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
After linting nodes `panic: index out of range` is being thrown.

**To Reproduce**
Steps to reproduce the behavior:
This error occurs consistently on multiple clusters in our environment.

**Expected behavior**
lint should complete

[2019-04-06 02:51] derailed commented on #1
@dankirkpatrick Thanks for posting back and your kind words!

Think I might have found the issue. Can you try updating Popeye to the latest and lmk if it still happening?

[2019-04-06 02:55] derailed commented on #2
@gabeduke Thank you for the report! I think I've fixed this issue. Could you please try v0.1.3 and report back? Tx!!

[2019-04-06 05:39] gabeduke commented on #2
This is resolved thanks! Looks great!

[2019-04-06 05:39] #2 closed

[2019-04-06 07:30] faheem-cliqz opened #3 "Integration with kube-score"
Again a nice initiative. Thank you for the effort :)

How is this different from kube-score. They both seem to do some kind of static analysis on k8s configurations.
https://github.com/zegl/kube-score

It would be nice to integrate both and have a nice experience from k9s.

I guess this will finally lead to a rules based engine something like OPA. Which has some more active elements like admission

[2019-04-06 11:30] s3than opened #4 "Bug when running on k8s 1.11.9"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Run application

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
See code output below

**Versions (please complete the following information):**
 - Linux
 - Popeye [0.1.3]
 - K8s [1.11.9]

**Additional context**
Add any

[2019-04-06 13:17] kody-abe commented on #4
Also seeing with k8s 1.11.0

[2019-04-06 17:34] derailed commented on #3
@faheem-cliqz Thank you for sharing this comment and your thoughts! KubeScore is an awesome tool, I use it as part of my daily regime. I think there is no swiss army knife when it comes to K8s cluster operation. There is some overlap between the 2 tools indeed. However the aim of Popeye is to observe and report on deployed resource and not just scanning static artifacts. In that sense I think of P

[2019-04-06 17:37] #4 closed

[2019-04-08 03:17] slmingol opened #6 "What is the meaning of the icons in the output?"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
The output shows icons with various status counts next to them. What is the meaning of these within each section of the output generated by Popeye?

**To Reproduce**
Steps to reproduce the behavior:
Merely run Popeye.

**Expected b

[2019-04-08 13:16] swe-covis opened #8 "Flag -n seems not to work for pods"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Running ```popeye -n <my_namespace>``` gives results for pods in all namespaces.
Results for services are filtered correctly.

**Expected behavior**
Running ```popeye -n <my_namespace>``` should give me results only for the desired

[2019-04-08 15:35] derailed commented on #8
@swe-covis Thank you for the report!

I've noticed that too. I have a fix in place in the next drop. Tx!!

[2019-04-08 15:36] derailed commented on #6
@slmingol Tx for the report! Agreed! I'll add more docs about this on the README.

[2019-04-08 15:55] theRealWardo opened #10 "panic analyzing old cluster"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
when analyzing my kubernetes cluster, I get a panic. if you can provide some pointers, I'm happy to try and fix this bug so that it works for us.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. connect to my old clust

[2019-04-08 16:33] derailed commented on #10
@theRealWardo Tx for reporting this and for your help!!

I think this issue was resolved via @vdesjardins kind PR.
Can you upgrade Popeye and see if you can make it farther?

Closing for now. Please re-open if that's not the case. Tx!!

[2019-04-08 16:33] #10 closed

[2019-04-08 16:57] theRealWardo commented on #10
yep works now! thanks!

[2019-04-08 21:01] johanfleury opened #12 "Support globbing in `exlude`"
I'm running a cluster with pods that are spawned on the fly by an external application. These pods use images tagged `latest` and I'd like to ignore them in Popeye's reports.

All those pods share the same prefix (say `foobar-`) so it'd be nice to have globbing support in the `exclude` lists. That way one could write the following:

[code]

[2019-04-08 23:36] derailed commented on #12
@johanfleury Thank you for this report!

The idea of Popeye is to nag at you to fix things and hopefully get to you to an honest score. I am on the fence here as this is clearly a bad think to glance over and exclude from the report. I can definitely make it happen but would love for folks to weight-in. Ie does Popeye gives you enough rope or to improve your score, you need to address these issues

[2019-04-08 23:55] alexcurtin opened #13 "Output to Slack?"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
The output from this pool renders nicely for terminals but when sent to slack, has lots of unicode and color encoding issues.

**Describe the solution you'd like**
An optional output mo

[2019-04-09 00:08] pnathan opened #14 "Emoji don't always render: please prefer ASCII or limited Unicode."
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
What is the emoji? I just see boxes on my terminal.

**To Reproduce**

Steps to reproduce the behavior:
Run the tool on Konsole on Linux

**Expected behavior**
Colorized output *or* non-emoji textual output.

**Screenshots**
![imag

[2019-04-09 00:47] pnathan commented on #14
Note - I can submit a PR that looks like

![image](https://user-images.githubusercontent.com/761056/55765805-44245680-5a26-11e9-9a01-bd4f109247de.png)

but I suspect that an "emoji-on/-off" flag would be preferred, yes?

[2019-04-09 09:29] JulienBreux commented on #13
Maybe choose a `markdown` or `text` formatter?

As unix program, IMHO, I think that's isn't the job of this awesome tool. No?

[2019-04-09 12:26] derailed commented on #13
@alexcurtin @JulienBreux Thank you for sharing your thoughts on this. I do like these ideas. I think as Popeye matures, it will have different incarnations and usage. I do like the thought of formatting as md or txt for perhaps other tools to consume or alert on. Perhaps even the output won't be for humans? ie prometheus metrics? Lots of thoughts here to noodle on...

[2019-04-09 12:31] derailed commented on #14
@pnathan Thank you for this report! I think scanning the user env vs flags might be a better approach to this. Thus tuning the sanitizer down based on the capabilities of the terminal.

[2019-04-09 15:46] derailed commented on #13
@JulienBreux Thank you! We are in agreement here. My initial target is to get Popeye stable and complete. Then start looking at formatting and incarnations (aka transports) but must make the CLI  solid and useful first!

[2019-04-09 16:54] pnathan commented on #14
@derailed spent a few minutes rummaging about. It looks like this is partially dependent on rendering engine (terminal emulator) _and_ font, which is annoying.  One trick suggested here is - https://stackoverflow.com/a/44445547 - I copypasted from my terminal to run it -

`echo -n  🔊 | wc -m `

but that simply returns one, just like `echo -n w | wc -m`  does. So that seems to be a wash (-m returns

[2019-04-09 18:34] JulienBreux commented on #13
Yeah! ;-) Have fun!

[2019-04-10 08:56] leberknecht opened #18 "v1.4 dies with "runtime error: integer divide by zero" on linux"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When running popeye, the "Connectivity" and "Metrics" steps seem to be ok (have a checkmark), but then i get (removed some newlines)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install popeye using snap on a linux

[2019-04-10 12:40] derailed commented on #18
@leberknecht Thank you for the report!

Curious, within the same session in which you've launched Popeye, can you double check using
[code]
and report what this yields? I am thinking something isn't quiet right with your kubeconfig context and hence causing Popeye to fail??

[2019-04-10 15:04] leberknecht commented on #18
Sure :)
[code]
as said, works fine with v.0.1.3

[2019-04-10 18:13] derailed commented on #18
@leberknecht Thank you for reporting back! This is strange. I noticed your cluster does not have a name so I think there is problem with popeye connecting to the api server. I think my connectivity check is a dud so I'll fix that. In the mean time, to make sure this is not a release issue. Would you mind trying the tarball directly from the [release1.4](https://github.com/derailed/popeye/releases/

[2019-04-10 18:17] derailed commented on #14
@pnathan Thank you so much for your investigation and report! I'll take a look at this on the next drop and see if we can figure out a way to compliment the various terminals in the report.

[2019-04-10 18:59] leberknecht commented on #18
Hm! The version from the release page does indeed work!
[code]
Solves my problem :) Thank you!

[2019-04-10 19:40] derailed commented on #18
@leberknecht Thank you so much for looking into it and for your help on this!!

Looks like something went south with that particular release on snap. Back to the drawing board ;(

[2019-04-11 04:33] #3 closed

[2019-04-11 04:33] #1 closed

[2019-04-11 06:04] derailed commented on #18
@leberknecht Can you given 0.2.0 a "snap" and see if we're happier in snap land? Thank you!
Closing for now...

[2019-04-11 06:04] #18 closed

[2019-04-11 06:06] derailed commented on #14
@pnathan I've added a flag in 0.2.0 -j or --jurassic based on some of your recommendations, hopefully that will help some... Thank you!

[2019-04-11 06:06] #14 closed

[2019-04-11 06:08] derailed commented on #13
@alexcurtin @JulienBreux  This is not an *official* slack support, but please give 0.2.0 rev and see if the handy --jurassic cli flag help ;)

[2019-04-11 06:08] #13 closed

[2019-04-11 06:08] derailed commented on #8
@swe-covis let's try 0.2.0 and see if this helps... Tx!!

[2019-04-11 06:08] #8 closed

[2019-04-11 06:09] derailed commented on #6
@slmingol Readme updated per you recommendations. Tx!

[2019-04-11 06:09] #6 closed

[2019-04-14 11:57] accountgit opened #21 "Installing popeye from snap doesn't work correctly"
$ sudo snap install popeye
$ popeye
💥 Get http://localhost:8080/api?timeout=32s: dial tcp 127.0.0.1:8080: connect: connection refused
Running the same version from binary releases works as expected.

Tested in ubuntu 18.10.

[2019-04-14 20:05] ChrisCooney opened #22 "Output as Yaml or JSON?"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I wanted to use this tool as part of a regular set of scans that run against our cluster. We could then output the logs of this scan to an elasticsearch instance and visualise the curre

[2019-04-18 17:15] swe-covis opened #24 "v0.3.0 crashes at start: runtime error: invalid memory address or nil pointer dereference"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Running popeye by just typing "popeye" on the shell leads to the following error:
runtime error: invalid memory address or nil pointer dereference.

The logfile is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Open s

[2019-04-18 18:19] derailed commented on #24
@swe-covis Thank you for reporting this so quickly and for your kind thoughts!! Stupid error on my part. I don't think I know what's going on yet but at least we will now see something in the logs. My bad! Pushing 0.3.1 now.

[2019-04-18 18:28] derailed commented on #24
@swe-covis sorry for this mess. No quiet thinking clearly... Please try out v0.3.1 and my hope is we will have something in the now logs so we can fix...

[2019-04-19 06:08] swe-covis commented on #24
@derailed your tools effort weight much more than such tiny bugs...
Seems this is related to an empty default namespace - there are just no resources to check.
It works fine on a namespace having resources - sorry for not checking that yesterday.

Please find the log attached to the issue.

[2019-04-19 14:26] Shinzu commented on #24
**Versions (please complete the following information):**
 - OS: OSX 10.14.4
 - Popeye: 0.3.2 (via brew)
 - K8s: 1.12.7

logs:
[code]

i have the same problem, calling popeye without specifying a namespace produces above error (in the log), same also for calling it with `-n kube-system`

[2019-04-19 19:02] derailed commented on #24
@swe-covis @Shinzu. Thank you both for reporting this! I think I've found the issue and was able to repro on my clusters.

[2019-04-19 20:24] derailed commented on #24
@swe-covis @Shinzu  I think this is fixed now. Can you please give v0.3.3 a try and lmk if we're happier? Thank you!!

[2019-04-19 20:24] #24 closed

[2019-04-19 20:26] derailed commented on #22
@ChrisCooney  Thank you for your report! I've added json/yaml output and you should be able to run Popeye in cluster too depending on your scenario. Can you give 0.3.3 a try and see if that helped? Tx!!

[2019-04-19 20:26] #22 closed

[2019-04-20 08:29] swe-covis commented on #24
@derailed just verified it works with v0.3.3 - thanks a lot :-)

[2019-04-20 12:58] derailed commented on #24
@swe-covis Excellent!! Thank you so much for reporting back!

[2019-04-20 13:56] Shinzu commented on #24
@derailed works also for me on OSX(via brew) and self build on linux

[2019-04-20 14:04] Shinzu opened #25 "Scan all namepsaces"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
with the `-n` flag you can choose the namespaces you like to scan, if omitted the one you set in the context is used or default(?)

**Describe the solution you'd like**
adding `all` to

[2019-04-20 14:31] derailed commented on #24
@Shinzu Thank you for reporting back Markus! Good to hear.

[2019-04-20 14:43] derailed commented on #25
@Shinzu Thank you for the report! Right, if you don't specify a namespace the default is all namespaces unless you've explicitly set a namespace in your kubeconfig in which case that namespace would be used. I think it would be a better to use a cli arg vs putting it in the config to keep the familiarity with kubectl??

[2019-04-20 14:48] Shinzu commented on #25
👍 for a cli arg

[2019-05-15 08:42] HuJake opened #28 "integrating reports into elasticsearch and kibana"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Provide cronjob report to elasticsearch and show to kibana dashboard.

**Describe the solution you'd like**
Consider integrating reports into elasticsearch, so need to have a service re

[2019-05-20 03:53] #28 closed

[2019-05-21 14:42] rick-roche commented on #12
This would be a great feature for our environment!

We use Kubernetes on [Rancher](https://rancher.com/) enabled clusters; part of the Rancher deployment creates logical partitions called Projects which, on the k8s cluster manifests as a namespace like so for example:

p-5wg29
p-68v92
p-79wcm

These system namespaces are out of our control and it would be great to exclude them from the report so t

[2019-05-21 15:01] toddexp commented on #24
@derailed

I was working with popeye today and all of a sudden it started returning this error mentioned above.

I followed the instructions on the readme:
git clone https://github.com/derailed/popeye ;# clone outside of GOPATH
cd popeye
go install ;# build and install
popeye     ;# run

This was working as recently as about an hour ago, but as of about 30 minutes ago this stopped working and star

[2019-05-21 15:23] derailed commented on #25
@Shinzu Fixed 0.3.4! Added CLI flag --all-namespaces

[2019-05-21 15:23] #25 closed

[2019-05-21 15:55] derailed commented on #24
@toddexp Thank you for reporting this. Great catch!!
 I am guessing you are running your cluster without a metrics-server?
 If so, I've noticed this issue this am and will fix on the next push.

[2019-05-21 16:34] toddexp commented on #24
@derailed
No problem.

It turns out that I do not have a metrics-server running in my cluster.

For now, I have reverted back to 0.3.4 and this version is working for me.

[2019-05-21 16:45] derailed commented on #24
@toddexp Thank you for reporting back. Working on this now will push an update in a bit. Sorry for the disruption!

[2019-05-21 18:14] rick-roche commented on #12
For us it would be great to have the exclude globs on a namespace level. We use k8s deployed and managed by [Rancher](https://rancher.com/); Rancher has the concept of Projects which essentially encapsulate namespaces with RBAC. Each project is created as it's own namespace, e.g.

p-qv8jx
p-qwg68
p-s9hws

These are namespaces that are outside of our control. It would be very useful to be able to e

[2019-05-21 18:35] Shinzu commented on #25
@derailed thank you,  looks good

[2019-05-21 20:39] derailed commented on #25
@Shinzu Thank you so much for reporting back! Happy to hear it working ;)

[2019-05-21 20:41] derailed commented on #12
@rick-roche @johanfleury Thank you both for this report!! I think this is now in effect in 0.3.6. Please make sure to read the release notes as it's surfaced a bit differently from the above. Please reopen if I've misinterpreted the intent.

[2019-05-21 20:41] #12 closed

[2019-05-21 20:47] derailed commented on #24
@toddexp Thank you! I think 0.3.6 should fix the npe issue. Please lmk if things are better with this drop...

[2019-05-22 13:51] toddexp commented on #24
@derailed

This fixed it. I appreciate the quick turnaround, thank you.

[2019-05-23 11:26] rick-roche commented on #12
@derailed Thank you so much; this is great!

[2019-05-28 09:19] qw1mb0 opened #29 "The k8s manifests use a version of popeye, which is not found in dockerhub."
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
If you try to install popeye in this way https://github.com/derailed/popeye#popeye-in-cluster, then there will be an image pull error:
[code]

**To Reproduce**
1. `git clone repo`
2. Run: `kubectl apply -f k8s/popeye/ns.yml && kube

[2019-05-28 14:02] mitchellmaler opened #30 "Helm revision configmaps which are unused always"
Right now the config maps all score on unused config maps that are the ones created by helm to keep track of revisions. Would be great to ignore these unused configmaps since they are managed by helm and kept for historical reasons.

[2019-05-28 14:46] derailed commented on #29
@qw1mb0 Thank you for this report! Doh! Looks like dockerhub is no longer building my tags ;(
I've switched over to another repo, please see the README updates.

[2019-05-28 14:46] #29 closed

[2019-05-28 14:48] derailed commented on #21
@accountgit Thank you for the report! Making a bit of progress with the snap folks but still waiting for an approval on their side. Hopefully soon...

[2019-05-28 14:50] derailed commented on #30
@mitchellmaler Thank you for report this!! Right, I'll add a configmap exclude section on the next drop so you can customize the sanitizer based on your cluster env.

[2019-05-29 13:05] swe-covis opened #32 "Info: Image pull secret might not be used"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Having secrets being used as imagePullSecret only causes info of "secret might not be in use".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a secret referenced only as imagePullSecret
2. run popeye
3. Check section

[2019-05-31 04:25] derailed commented on #30
@mitchellmaler This should be resolved in 0.3.7. Added a new excludes section. Please see README + release notes.

[2019-05-31 04:25] #30 closed

[2019-05-31 04:27] derailed commented on #32
@swe-covis Great catch!! I think this is now resolved in 0.3.7. Thank you for reporting this!

[2019-05-31 04:27] #32 closed

[2019-05-31 08:49] d47zm3 opened #33 "Popeye uses wrong field (limits instead of requests) in resource utilisation checking"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Popeye uses limits instead of requests to compare actual usage to stated usage, so it results in warnings about over-utilisation i.e.

kubectl reports requests/limits
[code]
and Popeye stated actual requests are
[code]

**To Reprod

[2019-05-31 21:00] derailed commented on #33
@d47zm3 Great catch. Thank you for the report!! Fixed v0.3.8

[2019-05-31 21:00] #33 closed

[2019-06-01 07:39] swe-covis commented on #33
@derailed @d47zm3 think the checks have to consider both.
The latest version shows errors if the current usage is equal or higher than the requested.
What do you think about the following:

warning of under-/overallocation:
refers to cpu/mem requests

error regarding thresholds:
refers to cpu/mem limits

Current example of reuests mem of 3Mi but limit set to e.g. 128Mi:
![image](https://user-image

[2019-06-03 06:49] wodansax opened #34 "Work with less permissions (namespace only)"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
When having restricted access to the cluster, **popeye** doesn't seem to work.
If you only have access to resources in a namespace you will get messages like:
[code]
although a request

[2019-06-04 18:19] derailed commented on #33
Good point. Thank you @swe-covis! I will correct this on the next drop.

[2019-06-06 20:46] nvtkaszpir opened #35 "xUnit compatible output"
**Is your feature request related to a problem? Please describe.**
Would be nice if popeye had xUnit (JUnit XML) compatible output.

This is quite common format for Jenkins artifacts.
https://jenkins.io/blog/2016/10/31/xunit-reporting/
https://llg.cubic.org/docs/junit/

**Describe the solution you'd like**
Running
[code]
would produce XML output.

**Describe alternatives you've considered**
Json o

[2019-06-14 09:58] Siegfriedk opened #36 "Describe how output can be used when popeye runs on k8s"
Hi,

we playing around with popeye and i like how it works. Following the k8s guide, i'm assuiming that i will receive the output of the job manually.

Could it be added to the README.md?

Tx,

Sigi

[2019-06-14 18:13] derailed commented on #34
@wodansax Fixed in v0.3.10!

[2019-06-14 18:13] #34 closed

[2019-06-14 18:16] derailed commented on #21
@accountgit I think this is finally resolved. Had a long process to get the right perms with the kind folks at SnapCraft. Hopefully all good with v0.3.10 and beyond...

[2019-06-14 18:16] #21 closed

[2019-06-14 18:18] derailed commented on #36
@Siegfriedk Thank you for the report! At this time Popeye supports yaml or json outputs. You could define an output to parse the sanitizer report and scan and report on scores. We will offer more formats as Popeye solidifies in the future. Specifically what kind of report are you looking to extract out?

[2019-06-14 18:20] derailed commented on #35
@nvtkaszpir Thank for this report. I love your additional context section! I'll take a look and see how we would output in xml. Any specifics you would be looking for here?

[2019-06-14 18:31] nvtkaszpir commented on #35
No specifics.

Another idea would be just to produce output in such way that other tools can easily parse it, for example using https://github.com/tebeka/go2xunit

[2019-06-17 22:07] ashishxooa opened #37 "Boom! runtime error: invalid memory address or nil pointer dereference"
Hi,

Great tool, looks very promising. Unfortunately not working for me. Not sure if I am doing anything wrong or it's a bug. The spinach file is the same one you have shared as a sample.

I am using Osx and popeye version is 0.3.10.

➜  popeye popeye -f spinach.yaml
 ___     ___ _____   _____                       S          .-'-.
| _ \___| _ \ __\ \ / / __|                       o     __| K    `

[2019-06-17 23:10] derailed commented on #37
@ashishxooa Thanks for the report! Is there anything in the popeye log file that might shade some light on this issue?

[2019-06-17 23:11] derailed commented on #35
@nvtkaszpir Thank you for the pointers! I'll take a look...

[2019-06-17 23:13] ashishxooa commented on #37
@derailed this is what I can see.

^[[90m4:03PM^[[0m ^[[1m^[[31mERR^[[0m^[[0m goroutine 1 [running]:
runtime/debug.Stack(0x2e7bfa0, 0x20c0d03, 0x0)
        /usr/local/Cellar/go/1.12.5/libexec/src/runtime/debug/stack.go:24 +0x9d
github.com/derailed/popeye/cmd.doIt.func1()
        /Users/fernand/go_wk/derailed/src/github.com/derailed/popeye/cmd/root.go:52 +0x196
panic(0x1f32c20, 0x2e64850)
        /

[2019-06-18 03:07] derailed commented on #37
@ashishxooa Tx! Fixed v0.3.11!

[2019-06-18 03:07] #37 closed

[2019-06-18 18:55] ashishxooa commented on #37
That was really quick, it works now. Keep up the good work.

Cheers.

[2019-06-21 13:44] david-sabata opened #38 "Running out of memory for PersistentVolumeClaim"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Popeye runs out of memory on one of my clusters (not all of them) if `pvc` section is included. Running report with all the other sections works fine.
The cluster runs in GKE.
**Please let me know what additional info I can provide

[2019-06-21 23:12] derailed commented on #38
@david-sabata Thank you for this great report! Fixed 0.3.12.

[2019-06-21 23:12] #38 closed

[2019-06-22 08:38] david-sabata commented on #38
Thanks for the quick fix and an awesome tool!

[2019-06-26 17:40] jclarksnps opened #39 "Disable over allocation"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
The problem is that the over-allocation check is incredibly subjective, since it seems to just grab the current metric for each service.  If you want to sanity test a cluster that may h

[2019-06-27 14:16] derailed commented on #39
@jclarksnps Thank you for this report! I agree over-allocation warnings yields false positive when the cluster is not under heavy load. I will add an option to silence these in the next drop.

[2019-06-27 15:38] whites11 commented on #39
I just came by to post exactly the same thought, so +1 here.

[2019-06-27 18:46] derailed commented on #39
@jclarksnps @whites11 Fixed v0.3.13!

[2019-06-27 18:46] #39 closed

[2019-06-27 18:48] whites11 commented on #39
Thanks!

[2019-06-28 09:11] whites11 opened #40 "Port name missing considered an error"
Hi, just a brainstorming here.

Why do you consider an unnamed port in a deployment/pod as an error?
Do you have a source on the documentation that supports this decision?

Thanks

[2019-06-28 13:21] derailed commented on #40
@whites11 - Unnamed ports do not yield an error but a warning. There is nothing wrong with not naming ports and there are no K8s mandate to do so. In my experience, naming ports makes Kubernetes manifests clearer to the reader about the intent of a given port. To boot, it affords a decoupling of a container port number with the managing resource such as services which yields to more resilient depl

[2019-06-28 13:26] whites11 commented on #40
Yes, it does. But then I must be missing something.
This is the output I get from a deployment with an unnamed port:

[code]

I thought 😱 was an error, not a warning. Am I wrong?

[2019-06-28 13:44] derailed commented on #40
@whites11 - [Icons](https://github.com/derailed/popeye#report-morphology)

[2019-06-28 13:52] whites11 commented on #40
Thanks, I missed that.
By the way, I never see the explosion for some reason. Must be the font.

[2019-06-29 13:17] derailed commented on #40
@whites11 I am not sure I understand what you mean? The section summary on your report above shows the error icon, so the icon is available. Are you saying the sanitizer is not reporting errors correctly?

[2019-06-29 15:16] whites11 commented on #40
Let me clarify. In my terminal emulator (konsole on arch Linux) the icon appears as an empty rectangle. It must be because the default font does not support that character.
Nevermind, it is off topic.

Back to this issue, what does everyone think about not counting the warnings when calculating the percentage? In my case my pods are 0% ok, but 95% of the reasons are the unnamed ports.

[2019-07-04 14:56] rafaelsilvaa10 opened #41 "popeye via Docker - Set endpoint apiserver"
Hello,

How to set my api endpoint on docker popeye?

I am using
`docker build .`

`Sending build context to Docker daemon  4.068MB
Step 1/11 : FROM golang:1.12.3-alpine AS build
 ---> 821acdc20eb8
Step 2/11 : ENV VERSION=v0.3.0 GO111MODULE=on PACKAGE=github.com/derailed/popeye
 ---> Using cache
 ---> 0a401431d7d7
Step 3/11 : WORKDIR /go/src/$PACKAGE
 ---> Using cache
 ---> 965320b59c77
Step 4/11

[2019-07-04 18:11] derailed commented on #41
@rafaelsilvaa10 You should be able to pass in args such as --kubeconfig=mykubeconfigpath as parameter on your container.

[2019-07-04 18:29] rafaelsilvaa10 commented on #41
thanks for reply.
I need to mount kubeconfig path such as volume in my container popeye?

[2019-07-04 18:29] rafaelsilvaa10 commented on #41
thanks for reply @derailed
I need to mount kubeconfig path such as volume in my container popeye?

[2019-07-04 21:10] rafaelsilvaa10 commented on #41
thanks, its work.

[2019-07-04 21:10] #41 closed

[2019-07-09 15:30] naseemkullah opened #42 "Consider pods running with "default" service account a warning or error"
Would it fall under popeye's scope to check for best practices such as this?

[2019-07-11 18:30] elvisFabian opened #43 "Parametrize what is considered a warning or error by the SpinachYAML file"
**Is your feature request related to a problem? Please describe.**
In my scenario I would like **resource request/presence limits** to be an `error`.
In the current scenario it is a warning.

**Describe the solution you'd like**
Parametrize  what is considered a warning or error by the SpinachYAML file.
This could be used for any Sanitizers

[2019-07-13 14:04] derailed commented on #43
@elvisFabian Excellent!! Thank you for your input. I agree with this concept as cluster owners should be able to choose the sanitizers severity levels for their clusters. I have been thinking about using a sanitizer issue classification. Much like HTTP error codes. I think we could then use your concept to further classify an issue as a info/warning/error/etc..
For instance a Popeye-404: Warning:

[2019-07-13 14:08] derailed commented on #42
@naseemkullah Thank you for this report! Yes I think this is a valid check.

[2019-07-13 14:12] derailed commented on #40
@whites11 I think this relates to issue #43. If we add a sanitizer classification, you could then tune the reports by configuration a severity level. In this case unnamed ports could be set to info level and hence don't count against your overall cluster score. Would this make sense?

[2019-07-13 14:20] whites11 commented on #40
@derailed totally, that would make sense to me

[2019-07-13 16:25] naseemkullah commented on #42
My pleasure @derailed.
Furthermore, if interested in encompassing checks with regards to `securityContext` (whether at pod level or container level) as well, https://kubesec.io/ have some nice ideas (to check is pod is running as non-root for example).

[2019-07-20 13:04] derailed commented on #42
@naseemkullah Thank you for the pointer! I'll take a peek and see how we can start surfacing more security best practices in Popeye.

[2019-07-20 13:06] naseemkullah commented on #42
My pleasure @derailed , I just discovered this tool as well that covers this sort of thing: https://github.com/Shopify/kubeaudit ...could maybe get some ideas from it as well.

[2019-08-03 03:20] #36 closed

[2019-08-03 16:02] derailed commented on #43
@elvisFabian Fixed v0.4.1! Please see v0.4.0 release notes and how you can override the severity in your spinach.yml config file. Thank you!

[2019-08-03 16:02] #43 closed

[2019-08-03 16:03] derailed commented on #42
@naseemkullah Thank you for your pointers on this!! v0.4.1 now performs some basic security checks. More to come on this... Please see v0.4.0 release notes.

[2019-08-03 16:03] #42 closed

[2019-08-03 16:05] derailed commented on #40
@whites11 Resolved in v0.4.1. Please see v0.4.0 release notes and caution on how to override the defaults in the spinach.yml file. Thank you!

[2019-08-03 16:05] #40 closed

[2019-08-03 16:09] derailed commented on #35
@nvtkaszpir Thank you for the info on this. In  v0.4.1(see v0.4.0 release notes) we've added a -o junit output. This might still need a bit of tuning but it's a start in formatting the sanitizer output using a junit schema. Please feel free to open new issues if you need a more customized output. We can iterate here as I think it will be useful for lots of folks. Thank you for this issue and let m

[2019-08-03 16:09] #35 closed

[2019-08-03 22:48] naseemkullah commented on #42
Excellent!

[2019-08-04 08:59] gabeduke opened #44 "Junit shows all tests as failed in jenkins"
This is super exciting there is now junit support! Our Jenkins job is showing all of the tests as `failed` in the results. I don't have any output to paste right now. If you are unable to see what's going on I'll be happy to try and recreate in my private profile.

- run tests and pipe the output to a results file (the `--save` flag was storing the file in the Jenkins workspace in a location our j

[2019-08-04 15:44] gabeduke commented on #44
I was able to reproduce this using a junit viewing tool:

[junit viewer](https://www.npmjs.com/package/junit-viewer)

[code]

[2019-08-05 14:58] derailed commented on #44
@gabeduke Thank you so much for this issue! I'll take a look as I think I might have hosed the junit rendering slightly. I think we should just report and fail tests in case of sanitizer warning or error.  Would this make more sense? Sorry it's been a while for me with junit and xml ;(

[2019-08-05 22:01] gabeduke commented on #44
@derailed I took a stab at adding levels to the report builder but I could not get the tally's working yet. I'm not sure I understand why warning and error should be the same level, can you explain?

https://github.com/derailed/popeye/compare/master...gabeduke:junit

[2019-08-05 22:42] derailed commented on #44
@gabeduke Sure - Popeye issues sanitizer issues as Info, Warning, Error. Warnings and errors count against your cluster score. There are also regular errors ie Popeye failed to run. In Junit schema, a test case can only have failure or error. So we're kind of shoe-horning the sanitizer output to fit the schema here. I'll drop a new rev v0.4.2 and see if this help some on the original issue.

[2019-08-06 00:53] gabeduke commented on #44
That makes sense, thanks for clarifying. The new version fixes this issue and also now includes passing tests which is great :)

`diff /tmp/popeye/sanitizer_microk8s-cluster_1565052255769487845.xml /tmp/popeye/sanitizer_microk8s-cluster_1565052100772076630.xml`
[code]

[2019-08-06 00:53] #44 closed

[2019-08-06 01:29] derailed commented on #44
@gabeduke Glad to hear it's looking better now. Thank you for your response!

[2019-08-12 11:23] djablonski-moia opened #46 "Allow suppressing specific checks / reports for specific instances"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Some sanitizers are producing warnings which make sense most of time, but on some objects, I would like to be able to accept those "issues".
For example, the "container runs as root" is

[2019-08-12 11:31] djablonski-moia opened #47 "Add command line option to report only above a specific level"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
In favour of getting a quick overview it would be nice to reduce the output to just those results above a specified level, e.g. WARN.

**Describe the solution you'd like**
If I would pr

[2019-08-12 13:45] derailed commented on #47
@djablonski-moia Thank you for your report. I think what your are looking for is already there.

[code]

[2019-08-12 14:22] derailed commented on #46
@djablonski-moia You are making an excellent point! Thank you for this. Currently Popeye does offer a regex based exclude (via the spinach file) that allows you to exclude pods based on a regex expression (See docs!)

[code]

This is ok but not great. It's a blunt implementation that excludes matching pods to ALL checks.
I think we need finer controls here:

[code]

I have been thinking about this

[2019-08-12 17:21] atheiman opened #48 "Docker images not publishing with new versions"
Looks like the quay.io images are stuck at 0.3.0?

[code]

https://quay.io/repository/derailed/popeye?tag=latest&tab=tags

[2019-08-12 17:41] atheiman opened #49 "Inaccurate testing of service account tokens"
We ran popeye with `cluster-admin` permissions in our 1.13 EKS cluster and it claims all service accounts in our cluster reference a secret that does not exist. Snippet of the output:

[code]

But looking in the `kube-system` namespace, the secrets are there:

[code]

Not sure if its useful, but we invoke `popeye` (using`cluster-admin` ClusterRole) like this:
[code]

Popeye version:
[code]

Kubern

[2019-08-12 19:44] derailed commented on #48
@atheiman Thank you so much for reporting this! My bad... I'll fix this in the next drop. FYI The version reported is indeed wrong but the code should be using the correct tag.

[2019-08-12 19:54] derailed commented on #49
@atheiman Thank you for this excellent report for both the details and the quality of this find!!
I think I've resolved this issue and will push a Popeye update. Great find!!

[2019-08-13 06:41] djablonski-moia commented on #47
Absolutely! Sorry for me overlooking this option (I was just seeing "lint" and was looking for log).

[2019-08-13 06:41] #47 closed

[2019-08-15 11:32] djablonski-moia commented on #46
Hi @derailed!

I personally would be totally fine with the solution you sketched above, given that the names of the sanitizers are well documented 😄

[2019-08-19 14:32] djablonski-moia commented on #49
@derailed I had the same issue, but can confirm it is fixed with 0.4.3

[2019-08-19 21:25] derailed commented on #49
@djablonski-moia Awesome. Thank you the circling back!!

[2019-08-19 21:25] #49 closed

[2019-08-19 21:26] #48 closed

[2019-08-20 07:00] djablonski-moia opened #51 "Ingresses can not be found on clusters running K8s 1.13"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When running popeye against a 1.13 cluster, in which the ingresses still need to have àpiVersion: extensions/v1beta1`, it fails with the following message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Running a clu

[2019-09-24 09:27] vcan92 opened #53 "Containers are running as root"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I get a warning even though the containers dont run as root user.

**My Dockerfile**

FROM microsoft/dotnet:2.1-sdk
WORKDIR /build_dir
COPY . .

RUN dotnet restore  /build_dir/src/Banners/Banners.csproj
RUN dotnet restore  /build_d

[2019-09-27 15:42] derailed commented on #53
@vcan92 Thank you for your report! I'll take a look...

[2019-10-11 07:48] monicagangwar opened #54 "Does it also warns about resource request/limit ratio ?"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to ha

[2019-10-22 10:56] djablonski-moia commented on #53
Hi @vcan92!

You probably added the `securityContext / runAsNonRoot` on container level. This is okay, but it does not prevent running other containers in the pod as root, and is therefore not sufficient to satisfy the sanitizer.
I've had the same problem, and there is already a fix for the wording of the message that's merged (but not yet released), which should make it more clear that this check

[2019-10-22 11:10] djablonski-moia commented on #46
Hi again @derailed!

A colleague of mine proposed to solve this by allowing to annotate Kubernetes objects with specific annotations, which suppress the report (and taking into account for scoring) of those objects. This adds Popeye-specific annotations to the deployments, but is, on the other hand, a common way (like using annotations in code to suppress warnings or e.g. annotating for prometheus

[2019-10-24 10:45] djablonski-moia commented on #46
Okay, I'll start working on this soonish, but it may take some time.

[2019-10-27 14:09] derailed commented on #54
@monicagangwar Thank you for the report! Not quiet sure what you mean by request/limit ratio?? Could you expand on that? Thank you!

[2019-10-27 14:12] derailed commented on #53
@djablonski-moia Thank you for your help on this issue!! You are correct! I'll push a new release soon to correct the wording.

[2019-10-27 14:18] derailed commented on #51
@djablonski-moia Thank you for this report! I'll take a look and see how Popeye can support older resources. I think I have some ideas there. That said and given the various CVEs it might be wise to run newer k8s versions (if possible!!) as the Popeye currently does not scan for those (which could be a great addition...)

[2019-10-28 06:18] monicagangwar commented on #54
@derailed something like resources cpu or memory request to limit ratio is exceeding 0.5
also, utilization/requests warning it shows current utlization, can that be average of certain time ?

[2019-11-15 12:39] djablonski-moia opened #59 "StatefulSet incorrectly determines apiVersion"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
The StatefulSet sanitizer (and probably others also) determine the apiVersion incorrectly when the StatefulSet is created by an operator.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the prometheus-operator.
2. Loo

[2019-11-16 16:16] derailed commented on #59
@djablonski-moia Thank you for your great report and investigation!  Good catch!! I think your assessment is correct as we actually check both the annotation and the self link which sadly has been deprecated ;( So this check is now a dud. In the case the resource is created via CRD we do indeed need a different strategy to check the resource version. I've been struggling with this. I think we can'

[2019-11-16 16:26] derailed commented on #54
@monicagangwar Thank you for reporting back! Well, Popeye do report on under/over utilization but at current load which is less than ideal since Popeye does not track metrics. The idea here was you can put load on your cluster and run Popeye to see if you've under/over allocated your resources. I do see some usefulness in checking req/limit and see if they are reasonable and this check could be st

[2019-11-18 12:26] djablonski-moia commented on #59
@derailed Thanks! If there is anything I can do to support, please let me know...

[2019-11-19 09:22] djablonski-moia opened #60 "HPA sanitizer calculates cluster CPU & mem capacity incorrectly"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
The HPA saniziter is miscalculating the available CPU and memory amounts in `ListClusterMetrics`(`internal/cache/no_mx.go`, line 25).
Instead of calculating the total amount available, it sums up the *usage* instead, resulting in c

[2019-12-03 11:04] sheerun opened #61 "Warning about helm releases"
**Describe the bug**

popeye complains about helm releases that are stored in secrets since 3.0.0:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install something with helm 3
2. Run popeye

**Expected behavior**
Helm secrets are considered used

[2019-12-03 11:06] sheerun opened #62 "EKS resources are considered unused"
When deploying on AWS, EKS creates some default namespaces popeye complains about them:

**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create cluster with EKS
2. Run popeye

**Expected behavior**

Default setup on EKS has no warnings

[2019-12-03 12:46] derailed commented on #60
@djablonski-moia Great catch Dirk! Thank you for reporting this, I'll take a look.

[2019-12-03 13:12] derailed commented on #59
@djablonski-moia Very kind of you! I do really appreciate your support and interest! I am able to reproduce this. I think I've found a solution for it that's going to require a bit of surgery ;( For now I will change this check and validate the link first as the annotation, as you've point out only applies when the resource is created via the CLI. I'll keep this issue open to make sure we track it

[2019-12-19 15:29] johanfleury commented on #53
I'm not sure I understand. Do you mean that containers could be running as root with the following `securityContext` set at the pod level?

[code]

[2020-01-05 06:05] derailed commented on #46
@djablonski-moia @e9169 Thank you both for your comments on this! I am not super keen on the annotation scheme as it would require to decorate some of the k8s resources, some of which you manage and other you don't. Thus it would require a continual maintenance of labels/annotations which I think may defy the purpose vs using a single popeye config to opt in/out certain scans.

[2020-01-07 23:16] derailed commented on #62
@sheerun Thank you for this report! Indeed there are used internally and Popeye can't pick up the references. So you will have to exclude these using a spinach.yml file. Please see the release notes for 0.6.0 and the example spinach file in this repo. Thank you!

[2020-01-07 23:16] #62 closed

[2020-01-07 23:18] derailed commented on #61
@sheerun  Same idea as prev issue using excludes for this. Please checkout 0.6.0 for exclusion as helm leverages secrets to store some of the chart info.  Thank you!!

[2020-01-07 23:18] #61 closed

[2020-01-07 23:20] derailed commented on #60
@djablonski-moia I've revamped the compute here to pick up on and alert based on what is allocatable. Hopefully I did not screw this up.... Please checkout 0.6.0. Thank you Dirk!!

[2020-01-07 23:20] #60 closed

[2020-01-07 23:21] derailed commented on #51
@djablonski-moia Reverted to extensions group until networking is actually surfaced. Please see 0.6.0. Thank you!!

[2020-01-07 23:21] #51 closed

[2020-01-07 23:23] derailed commented on #46
@djablonski-moia @e9169  Please checkout 0.6.0 and release notes! Should be a bit more granular now based on your original issue. Thank you!!

[2020-01-07 23:23] #46 closed

[2020-01-07 23:23] #54 closed

[2020-01-08 03:44] #53 closed

[2020-01-08 03:49] derailed commented on #53
@vcan92 @johanfleury @djablonski-moia Think there was indeed an issue with the pod security sanitizer. Think is fixed in 0.6.1!

@johanfleury I think @djablonski-moia is talking about setting the security context at the container level vs the pod. If you set it at the pod level then all containers will inherit their contexts from the pod and the kubelet with start the container(s) in that context.

[2020-01-08 10:36] djablonski-moia commented on #46
Sorry for the late response @derailed!

Your solution works very nicely for us! Thanks for this great improvement! 😃

[2020-01-08 10:43] sky-philipalmeida opened #69 "Add outcome issue detail to the prometheus report."
As a prometheus user I need to have a label listing the outcome issues found in order to build a detailed alert via alertmanager (alert component of the prometheus stack).

I have am initial proposal for review:
https://github.com/derailed/popeye/pull/68

[2020-01-08 14:23] djablonski-moia opened #70 "Pod-level messages are shown five times per pod"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When pod-level messages are shown in the console report, they appear five times instead of only once.

**To Reproduce**
Steps to reproduce the behavior:
1. Run popeye against a cluster which has pod-level issues, e.g. POP-110
2. Se

[2020-01-08 14:26] djablonski-moia commented on #70
PR with fix is here: https://github.com/derailed/popeye/pull/71

[2020-01-08 14:53] derailed commented on #46
@djablonski-moia Thank you!! I am so happy you're digging it. Was a long day i the saddle to make this happen.

[2020-01-08 15:25] #70 closed

[2020-01-10 04:45] calvinbui commented on #51
We use 1.13 on GKE as it's [what Google considers 'stable'](https://cloud.google.com/kubernetes-engine/docs/release-notes-stable)

Similarly I get the message to use `networking` which doesn't exist on 1.13

[code]

[2020-01-10 07:37] djablonski-moia commented on #60
Calculates correctly now, thanks for fixing! 😄

[2020-01-10 20:34] derailed commented on #60
@djablonski-moia My pleasure. Thank you Dirk for the analysis and your support for Popeye!!

[2020-01-18 06:03] mycrEEpy opened #73 "HTML friendly output"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
We use Jenkins to run popeye and want to present the result as HTML report.

**Describe the solution you'd like**
Either a direct html output or jurassic output should use html friendly

[2020-01-19 08:20] mycrEEpy commented on #73
With fix from #74 :

![image](https://user-images.githubusercontent.com/6517708/72677455-ee90d600-3a9c-11ea-8295-e510320afa2c.png)

[2020-01-21 13:15] ricardozanini opened #75 "What about a Popeye Operator"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
It's not a problem. But would be nice to have Popeye running on a cluster as a [Kubernetes Operator](https://coreos.com/operators/), so users would have reports direct into the cluster

[2020-01-21 13:15] msmagnanijr commented on #75
+1

[2020-01-21 19:54] derailed commented on #75
@ricardozanini @msmagnanijr Absolutely brilliant!! Thank you for this report Ricardo!
I think that makes sense, but will need to noodle on this a bit to figure out best ways to surface the scans and reports. You can already run Popeye in cluster via cronjob so don't think that's to far fetch to turn it into an operator. Also thank you for your offer to help, I'll ping here once I've had a chance t

[2020-01-21 21:17] ricardozanini commented on #75
@derailed awesome! So let’s keep in touch. :)

I think will give even more traction to the Kubernetes community since we will add it to the OperatorHub.

[2020-01-23 09:58] gadelkareem opened #76 "allow popeye | more"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

I need to use `| more` with popeye

[2020-01-23 14:05] derailed commented on #76
@gadelkareem I think you can do it now...

[code]

[2020-01-23 16:55] gadelkareem commented on #76
No colors?...😞

[2020-01-23 17:44] derailed commented on #76
popeye | more -R 😁

[2020-01-23 17:44] #76 closed

[2020-01-24 16:03] shane-kearns opened #77 "--lint level does not affect junit (or json) output"
Version:

v0.6.1

Steps to reproduce:

`popeye -l error -o junit`

Expected:

Only issues with "error" severity are reported

Observed:

All issues are reported as test failures, e.g.
`<failure message="[POP-301] Connects to API Server? ServiceAccount token is mounted" type="warn"></failure>`

Impact:

Running of popeye as part of a CI pipeline (e.g. Jenkins) is difficult without post-processing t

[2020-01-25 20:20] #77 closed

[2020-01-27 17:29] shane-kearns opened #78 "Service sanitizer "No target ports match service port `%s" has no code and cannot be filtered"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
This service sanitizer report does not have any associated code, and cannot be filtered out by spinach yaml.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `Service` with a selector matching pods in a deployment
2.

[2020-02-06 21:10] karanmagdani1 commented on #75
Hey guys,

I am currently in the process of doing something similar, currently, I have done the following:
1) Created a dynamic Helm chart using CronJob and configmap, runs on all clusters
2) After https://github.com/derailed/popeye/pull/67 is merged, I will push the data from all clusters on a single S3 bucket
3) Created a basic golang app (dockerized) that reads from this S3 bucket, and currentl

[2020-02-07 12:15] ricardozanini commented on #75
@karanmagdani1 after you finish the web ui, we can add it to the PoC I'm envisioning. Once I start working on it, I'll let you know by posting in this thread.

[2020-02-17 11:59] santinoncs opened #82 "Send report to slack"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

I'd like to send the report to the approppiatte team. If I can send the report to a specific channel in slack, that would be great.

You could reuse the output parameter and add the webhook url of the slack api..maybe..

-o slack --slack-address

[2020-02-19 17:17] #82 closed

[2020-02-19 17:17] santinoncs commented on #82
Not needed anymore

[2020-02-29 20:41] #78 closed

[2020-03-01 00:21] derailed commented on #73
@mycrEEpy Thanks to the great PR from @BarakStout. This is now a reality. v0.7.0!

[2020-03-01 00:21] #73 closed

[2020-03-01 20:30] corneliusweig opened #84 "Distribute popeye via krew?"
:wave: Hello, maintainer of the kubectl plugin manager [krew](https://github.com/kubernetes-sigs/krew) here.

What do you think about making your plugin available via krew? You would benefit from

- Greater visibility due to krew's large user basis.
- Easier installs.
- Seamless upgrades for new plugin versions.

Krew already has around [80 plugins](https://github.com/kubernetes-sigs/krew-index/bl

[2020-03-02 10:31] tomislater opened #85 "Boom! 💥 open ./internal/report/assets/template.html: no such file or directory"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I cannot create html report.

**To Reproduce**
[code]

I have found this `template.html` here: https://github.com/derailed/popeye/blob/a96ac4a7ecf6aaea7ff705e6e51a020aec2110e4/internal/report/builder.go#L161

**Expected behavio

[2020-03-02 13:58] derailed commented on #85
@tomislater Thank you for this report! My bad! I'll fix in the next drop.

[2020-03-02 15:47] #85 closed

[2020-03-02 15:59] derailed commented on #85
@tomislater Fixed v0.7.1! Sorry ;(

[2020-03-02 16:02] derailed commented on #84
@corneliusweig You had me at `Hello`...

 It's on the plan but just didn't get to it yet. Thank you for your thoughts and for stopping by!

[2020-03-03 16:11] meikww opened #86 "Provide more info on error for MetricServer"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

In our result we see an error for line MetricServer and we are not sure what it means<br/>

![image](https://user-images.githubusercontent.com/61747259/75795012-f61ced80-5d71-11ea-9bb4-35ffc37b815a.png)

We're running Popeye against an Openshift 3.11 environment.

[2020-03-03 17:46] derailed commented on #86
@meikww This error indicates that popeye was unable to connect to the metrics-server on your cluster. If you are not running one,  popeye won't be able to gather metrics related sanitization which is not a deal as the report should still complete. Is this the case here?

[2020-03-03 19:33] meikww commented on #86
Hi derailed, thanks a lot for the quick reply. Yes, the report still completed. I'll check with our ops team if we're running metrics on that cluster. Assuming we're running the metrics server: where/how is Popeye looking for the metrics server?

[2020-03-03 20:03] corneliusweig commented on #84
Well that was quick!
https://github.com/kubernetes-sigs/krew-index/pull/521

[2020-03-03 20:03] #84 closed

[2020-03-03 20:05] corneliusweig opened #87 "Popeye shows slightly confusing help text when run as kubectl plugin"
This came up while discussing to release popeye as a kubectl plugin. See https://github.com/kubernetes-sigs/krew-index/pull/521#issuecomment-593619782 for details.

This is merely a reminder that it would be nice to fix it at some point.

[2020-03-04 09:13] meikww commented on #86
Hi derailed, hawkular seems to be running fine on our cluster. How does Popeye try to reach the Metrics-Server / which endpoints does it expect / look for? Alternatively: Can we configure anything in Popeye to make it look at the right place in our environment?

[2020-03-04 13:31] derailed commented on #86
@meikww Thank you for your reply! I am not familiar with this project and it looks like it using their own metrics server. Popeye looks for the [standard](https://github.com/kubernetes-sigs/metrics-server) metrics-server running on port 4443.  I am not sure if hawkular uses the same apis to gather node/pod/container metrics. This is currently not configurable.

[2020-03-05 10:56] meikww commented on #86
Hi @derailed. Thanks a get. I mixed it up: we are running Heapster. It's running on port 80, though. Can we at least configure the port number somewhere?

[2020-03-06 21:14] tlereste opened #88 "Colors aren't displayed in terminal"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When I run popeye the colors aren't displayed in terminal.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `popeye`
2. The colors aren't displayed in terminal

**Versions (please complete the following informa

[2020-03-23 15:48] collbrain opened #93 "cluster score"
How is cluster score calculated ? Is there an algorithm ?

[2020-03-29 14:26] derailed commented on #86
@meikww I don't think this is a port config issue. Heapster has been deprecated. Metrics-server is now the recommended way to gather cluster metrics. I thing later versions of openshift now support it...

[2020-03-29 14:40] derailed commented on #93
Cluster score is computed as the ratio of the total of resources that pass the scans vs the ones that did not.

[2020-03-29 14:43] derailed commented on #88
@tlereste I think your mileage varies based on your terminal of choice. Typically on unix system you'll have to set this env var:

[code]

[2020-03-29 14:51] #88 closed

[2020-03-30 15:14] meikww commented on #86
Hi @derailed, thanks a lot. In the mean time I checked further. As per my understanding in our OpenShift 3.11 environment Hawkular is the actual metrics server, Heapster just collects the metrics from the nodes and exports them to Hawkular. So, we would need to communicate with Hawkular (it'S running on port 443 it seems) and yes we would need to figure out if the API is compatible. We'll check th

[2020-03-31 12:57] derailed commented on #75
@ricardozanini  @karanmagdani1 Thank you both for your input! Moving the needle a bit more in v0.8.0. As of this drop, Popeye can leverage k8s factories to observe resources. So I think we can now get notification when a resource changes that should allow us to run cluster scans on observed resources.

@karanmagdani1 you've also probably saw html support was added in the prev release that should a

[2020-04-05 03:38] #93 closed

[2020-04-08 14:22] ryuheechul opened #94 "`-A` and `--all-namespaces` don't seem to work"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
`-A` and `--all-namespaces` is being ignored and checking  **only** current namespace.

**To Reproduce**
Steps to reproduce the behavior:
1. `$ popeye -A`
2. or `$ popeye -all-namespaces`
3. See `popeye` checks only current nam

[2020-04-08 14:29] ryuheechul commented on #94
and thanks for the developments of both k9s and popeye great tools 👍🏼

[2020-04-09 05:46] mstoetzer opened #95 "Question: Is there a list where I can look up the [POP-*] issue numbers?"
Are there more details about the issue numbers that appear in the report? I'm just curious. What's behind those numbers?

Thanks for this great tool :+1:

[2020-04-10 15:21] derailed commented on #94
@ryuheechul Thank you for your kind words and for this issue. I'll take a look...

[2020-04-10 15:27] derailed commented on #95
@mstoetzer Thank you! I'll need some TLC on the docs. In the meantime,  the currently supported codes are defined here [codes](https://github.com/derailed/popeye/blob/8ad662df7364b98445c5758e8d7beac431866517/internal/issues/codes.go#L44)

[2020-04-11 08:01] peddyhh commented on #94
tnx for popeye, great work.

With Gcloud I confirm the bug:
**kubectl version**
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", GitTreeState:"clean", BuildDate:"2019-09-18T14:47:22Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.10-

[2020-04-13 03:20] plainlystated opened #96 "More control over sanitizers"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
As a new user with an existing (but young) cluster, the results are a bit overwhelming.  My immediate problem with my cluster is evictions, and I want to go through all my pods

[2020-04-15 13:27] derailed commented on #96
@plainlystated Thank you for this issue and your kind words!

 I think this is achievable currently but likely not the granularity or usability you're looking for. Keep in mind the idea here it is the sanitizers goal to highlight as many issues as possible on your cluster.  In the meantime you can `somewhat` achieve these results with a bit more elbow grease. So combining the spinach file and cli

[2020-04-18 08:02] ndavidson-pulse opened #97 "Add support for explicitly sanitizing jobs to popeye"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
When trying to run a popeye check on my cluster, I get frustrated that pods belonging to failed iterations of jobs that eventually succeed are flagged as failures by popeye.

**

[2020-04-20 17:33] prashantkalkar opened #98 "Is it possible to use the popeye command to fail a CI/CD build if there are warning or errors exists."
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
It will be great if popeye can report failure if it is used with the command line lint option to get details of the warning and errors. This should allow failing the build.
I un

[2020-04-25 22:11] derailed commented on #97
@ndavidson-pulse Thank you for this issue! I'll need to take a peek and see if we can devise a different approach with job failures. Alternatively if you don't care about the failure history on your cron you can use spec.failedJobHistoryLimits=0. Defaults to 1.

[2020-04-26 02:46] plainlystated commented on #96
That's helpful, thanks for the info!

[2020-04-26 02:46] #96 closed

[2020-04-27 08:44] ndavidson-pulse commented on #97
@derailed It's not that we don't care - we do want them to succeed  but just within a specified window. We wrap popeye in a script that deploys our cluster from scratch and waits for the cluster to stabilize within a defined time-limit and then check, By this point all the jobs have succeeded but a couple of them may have failed first. It's fairly random and depends on exactly how quickly core ser

[2020-04-29 10:06] collbrain opened #99 "Question: Getting Deprecated API error for ingress."
I am getting following error for ingress, understand that have to change the api but i am running 1.14. Should i changed for that as well ?. Basically, is popeye version aware ?

[POP-403] Deprecated Ingress API group "extensions/v1beta1". Use "networking.k8s.io/v1beta1" instead.

[2020-04-29 13:03] derailed commented on #99
@collbrain Popeye is not version aware in the sense that we don't check the cluster version prior to sanitization. Popeye does expect a recent k8s version. Since 1.16 deprecated apis, the sanitizers will report on these deprecation warnings. As a general rule especially in light of CVEs it is a recommended practice to keep your cluster closer to the latest k8s as possible.  Does this make sense?

[2020-04-29 22:35] collbrain commented on #99
Is there an older branch that i could pull for 1.13 and 1.14 ?.

The reason is i am running gke cluster, one is 1.14 and prod is 1.13. I don't have permission to upgrade or don't see this getting upgraded in 2-3 months. Meanwhile wanted to check popeye on how it works...

[2020-04-30 09:15] afkham opened #100 ""[POP-206] No PodDisruptionBudget defined" even though PDBs are defined"
I get this warning for all my pods even though I have defined PDBs properly, with the proper label selector and in the same namespace. Is this a known issue?

[2020-05-08 05:43] derailed commented on #99
@collbrain I don't recall which version of Popeye added the deprecation checks. I think just about the time k8s 1.16 came out. I would recommend staying up with the latest Popeye if you can and lower the deprecation warnings (see spinach.yml) to info until you have a change to upgrade your clusters.

[2020-05-14 21:26] derailed commented on #100
Thank you for reporting this @afkham! I'll fix in the next drop.

[2020-05-14 21:38] derailed commented on #100
@afkham Fixed v0.8.2!

[2020-05-14 21:38] #100 closed

[2020-05-14 21:39] derailed commented on #94
@peddyhh @ryuheechul  Thank you both for your kind words and for reporting this! Fixed v0.8.2

[2020-05-14 21:39] #94 closed

[2020-05-15 07:48] MichaelJDrK commented on #95
popeye reports for one deployment:
[POP-502] ReplicaSet collisions detected (1).

Can you shortly explain what that means?

[2020-05-15 14:53] derailed commented on #95
@mstoetzer This is a hash collision avoidance mechanism when a new ReplicaSet/ControllerRevision hash need to be generated. This field is usually unset or 0. I think this is a bug as this is not flagging an actual issue with either a dp, sts, or ds. I'll fix this in the next drop. Thank you for flagging this issue!

[2020-05-18 16:29] mitchellmaler commented on #61
@derailed Do you have an example spinach config to exclude these secrets?

[2020-05-18 17:48] derailed commented on #61
@mitchellmaler I think you can do something like this in your spinach.yml file:

[code]

[2020-06-01 05:43] derailed commented on #95
@mstoetzer Fixed v0.8.4!

[2020-06-01 05:43] #95 closed

[2020-06-05 11:55] rdrgporto opened #105 "Parameters -A & --all-namespaces not work"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
` -A` and `--all-namespaces` is being ignored and checking only current namespace.

**To Reproduce**
Steps to reproduce the behavior:

1. `popeye -A `or `--all-namespaces`
2. Verify if **Popeye** scan all namespaces

**Expected

[2020-06-06 16:49] #105 closed

[2020-06-08 13:51] juergenthomann opened #106 "ServiceAccounts are not found for Deployments but shown at ServiceAccounts"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I run popeye 0.8.5 and it shows for every Deployment that is using a custom ServiceAccount the POP-507 message, that the ServiceAccount could not be found.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Deployment

[2020-06-08 19:32] #106 closed

[2020-06-08 19:35] derailed commented on #106
@juergenthomann Thank you for this issue! I was already in flight on this one but all credits goes to @pcantea for picking up on the fix. Please see v0.8.6, Tx!!

[2020-06-19 08:17] mstoetzer opened #110 "List with Popeye Codes"
Not really a feature, but referencing an older issue, where I asked for a list of codes that Popeye displays.

[Issue #95 ](https://github.com/derailed/popeye/issues/95)

I'm not sure where to put this list, so I didn't create a Pull request for this.

I parsed that codes file and created a Markdown table with it (excerpt):

# List of Popeye Codes

### Container

| Code | Message | Severity | Info

[2020-06-19 08:18] mstoetzer commented on #110
We could add a folder like "docs" to the repo.

[2020-06-26 16:17] cjbehm opened #111 "Popeye excludes appear to ignore codes list, ignoring whole match instead"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Using v0.8.6 (and also with v0.8.0; separate bug report incoming re: docker hub)

The list of codes defined for an exclude appear to be ignored, instead popeye ignores the resource entirely if it matches.

Used the information

[2020-06-26 16:22] cjbehm opened #112 "Docker hub v0.8.6 appears to contain version 0.8.0 instead"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
The version reported by popeye from Docker Hub is v0.8.0

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run --rm derailed/popeye:v0.8.6 version`
[code]

**Expected behavior**
Version tag and version output to mat

[2020-07-02 08:56] svenmeinking opened #113 "popeye doesn´t respect excludes specified in spinach.yaml"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
We want to exclude some third party resources, which errors we cannot fix.

**To Reproduce**
Steps to reproduce the behavior:
1. Run 'popeye -c -f spinach.yaml -l error'
2. See list of errors
PODS (76 SCANNED)

[2020-07-02 14:03] michaelpporter commented on #113
I too am seeing issues. I am using the example for EKS which looks exactly like the report when I do not include the spinach.yaml

[2020-07-04 00:53] derailed commented on #113
@svenmeinking @michaelpporter Thank you both for reporting this! This is on me as I've missed updating the docs during a code update. My Bad! The problem here is the excludes are now using Group/Version/Resource aka GVR which should be a pluralize version of the resource. ie v1/pods in this case. Sorry about the confusion as this is on me!

[2020-07-04 00:53] #113 closed

[2020-07-04 03:07] derailed commented on #110
@mstoetzer I think that would be a great addition to the docs. Thank you for your help on this!

[2020-07-04 03:13] derailed commented on #112
@cjbehm Thank you for this issue. Great catch! Fixed v0.8.7

[2020-07-04 03:13] #112 closed

[2020-07-04 03:14] derailed commented on #111
@cjbehm Thank you for this issue! Fixed v0.8.7

[2020-07-04 03:14] #111 closed

[2020-07-06 01:23] #99 closed

[2020-07-15 13:27] cjbehm opened #115 "0.8.7 spams ADD <condition> to stdout"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When running a report, what looks like debug output is sent to stdout

**To Reproduce**
Steps to reproduce the behavior:
1. Run any report

**Expected behavior**
ADD <condition> is not printed to stdout

**Versions (please comp

[2020-07-15 13:56] #115 closed

[2020-07-16 08:29] sgandon opened #116 "Erroneous NetworkPolicy scan report on non matching pods"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Popepey is indicating *[POP-1200] No pods match Ingress pod selector* when the pod indeed exists and are matching the rule.

Here is the matching rule that is wrongly scanned
[code]

**To Reproduce**
Steps to reproduce the beha

[2020-07-16 08:58] sgandon opened #117 "Deamonset pods are reporting missing PodDisruptionBudget"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When scanning the pods with Popeye, pods belonging to a DeamonSet are reported to be lacking of a PodDisruptionBudget definition, but I think this an error because DeamonSet pod lifecycle are tied to the node lifecycle and shou

[2020-07-29 16:46] goodspellar commented on #117
Just tried to reproduce this but I can't. I checked the source code and I don't see popeye checking PDBs on daemonsets. Also tested on my cluster and I'm not getting PDB warnings on any of my daemonsets either.

Can you post your sanitized filebeat manifest?

[2020-08-02 15:30] nigel4321 commented on #98
On a related note, it would be nice if we could get a return code for errors, that is the code returned on the shell should be non-zero (Normally accessible as $?).

Use case:
I would like to run "popeye -l error" in an automated job, the job should fail if the command returns non-zero

[2020-08-02 16:27] derailed commented on #117
@sgandon I think pdb on ds actually makes sense as there might still be a use case to maintain quorum in the cluster if a node is drained or cordoned. The pdb could guard against this imho. Am I wrong?

[2020-08-02 16:35] derailed commented on #116
@sgandon Great catch and report! I'll fix in the next drop.

[2020-08-03 09:00] sgandon commented on #117
Hi @derailed
here is the yaml for filebeat pod launched from the deamonset
[code]
Well about using PDB on pod in deamonset, I am not sure to understand the reasoning behind this as the pod are really tight to the node lifecycle, or do you imagine to use it as a "NodeDisruptionBudget" ?
Never the less I don't think that missing PDB on pods in deamonset should be reported.

[2020-08-18 11:21] djablonski-moia opened #120 "Extend excludes to allow excluding specific containers of a pod"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

When trying to create a `spinach.yaml` to make Popeye just report unknown and not accepted issues,
I came across the problem of `istio-proxy`sidecar containers, which has no li

[2020-08-24 09:29] hmsvigle commented on #69
is this feature already released ? I would be interested if this feature is available.

[2020-08-25 06:29] djablonski-moia commented on #116
We're also encountering this. The problem is that https://github.com/derailed/popeye/blob/fdd0de8b0df91ee28d29907c54e045fdbedfbaae/internal/sanitize/np.go#L88 is checking for the pod in the namespace of the NP, not the one of the accompanying `NamespaceSelector`.
I would have provided a PR, but I don't see how the target NS could be easily determined here, since it's matched by labels 😞

[2020-08-25 18:17] derailed commented on #117
@sgandon I do think this is on the edge and depends of the tech used. If the tech deployed as ds expects some kind of quorum in the cluster and no disruption budget is set your stack will be toast if you loose some nodes or an admin inadvertently cordons a node that must be part of the set. For example etcd like tech that must maintain quorum. That said I think the majority of use cases will be st

[2020-08-25 19:46] derailed commented on #120
@djablonski-moia Thank you for this report! Please check out the v0.8.9 rel notes. Was not keen on using :container syntax so I've decided to add a new exclude tag for containers instead. Please lmk is that works for you?? Tx!!

[2020-08-25 19:46] #120 closed

[2020-08-25 19:47] derailed commented on #117
@sgandon Please give v0.8.9 a rinse and see if we're happier. Tx!!

[2020-08-25 19:47] #117 closed

[2020-08-25 19:48] derailed commented on #116
@sgandon @djablonski-moia Thank you both for the heads up. I think we should be happier on v0.8.9. Lmk. Tx!!

[2020-08-25 19:48] #116 closed

[2020-08-25 19:49] derailed commented on #98
@prashantkalkar @nigel4321 Thank you both for the feedback! Popeye will now return a non zero exit if warnings/errors are found in the scans.

[2020-08-25 19:49] #98 closed

[2020-08-25 21:12] Iristyle opened #122 "0.8.9 changes exit status behavior in a breaking way"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

In 0.8.9, https://github.com/derailed/popeye/commit/94da2df5e9ecdabd7565222720cea43a285bcc01 changed the behavior to produce a non-zero exit status with the presence of warning

[2020-08-25 22:54] derailed commented on #122
@Iristyle Rats! Sorry I've broke your build ;( I was debating about that and I think you're right in terms on the non zero exit only on error. I'll fix in the next drop. As far as the dual output I think the CI should just monitor the exit status (provided error only) and you can get further detail in the actual reports. Would that work for you?

[2020-08-25 22:57] #122 closed

[2020-08-28 13:43] djablonski-moia commented on #120
I'll c heck it out immediately 😄

[2020-08-28 14:15] djablonski-moia commented on #120
Not 100% what I had in mind (not skipping scanning altogether but just specific sanitizers), but close enough to be very useful! Thanks for the ultra fast implementation 😃  🥇

[2020-08-31 10:14] djablonski-moia commented on #116
Issue is fixed, thank you @derailed! 😆

[2020-08-31 12:55] djablonski-moia commented on #59
Hi @derailed!

At least in our clusters the latest version does not show this issue anymore, so from my side it would be fine to close this issue 😄

[2020-09-02 14:25] hmsvigle opened #125 "info/error/warning messages to the metrics sent to prometheus"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

We are getting below metrics from popeye to prometheus.

![Prometheus-Metrics](https://user-images.githubusercontent.com/24938159/91994918-c9638600-ed54-11ea-9e5b-b67e095099a6.png)

There is no "message" field in these reports to extract.
So th

[2020-09-12 08:13] woshizhuyumi opened #126 "Wrong Docker image url in READ.md"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
On popeye README.md page, one Docker image URL is wrong.
I'm new to Popeye and try to run it for the first time, and this small issue confused me for a little while.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to h

[2020-09-24 08:52] yogeek opened #128 "Incoherent versions between binary and docker tags"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
The `popeye version` command does not seem to return the right version in the different docker images tags.
Plus, the `latest` tag does not seem to point to the last popeye release.

**To Reproduce**
[code]

**Expected behavior

[2020-09-29 11:03] marians opened #129 "How to exclude several check types not explained in README.md?"
I would like to exclude all these check sections using a config file:

- CLUSTERROLES
- CLUSTERROLEBINDINGS
- PODSECURITYPOLICIES
- ROLES
- ROLEBINDINGS
- SECRETS
- SERVICEACCOUNTS

However I can't find the explanation for doing that in the README. Any help appreciated.

[2020-09-29 12:54] marians commented on #129
Found a bit on clusterrolebinding in the 0.8.0 release notes

https://github.com/derailed/popeye/releases/tag/v0.8.0

Based on that, I could figure out the config:

[code]

Would be nice if the docs could be updated accordingly. Didn't expect to find this in the release notes, and only managed after digging through lots of closed issues.

[2020-09-30 07:44] marians commented on #129
PR pending in https://github.com/derailed/popeye/pull/130

[2020-10-01 12:03] 3rgfbrgf opened #133 "psp - unused"
**Any way to get unused PSP in report?**
It would be nice to get this, so we can detect created, but orphaned PSP, which are not being used in any role.

[2020-10-02 13:55] sebastienthirion opened #134 "Excluding containers exclude the entire pod from scan"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I'm trying to exclude some containers from pods scan following the [sample configuration file](https://github.com/derailed/popeye#the-spinachyaml-configuration), specifically `istio-proxy` and `istio-init` containers because we

[2020-10-12 07:48] marians opened #136 "Check for high availability masters"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
No. The feature request is about adding a check for something that is currently not covered.

**Describe the solution you'd like**

- popeye should check how many master nodes t

[2020-10-12 07:58] marians opened #137 "Add check for uncontrolled pods"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
No. The feature request is about adding a check for something that is currently not covered.

**Describe the solution you'd like**

Pods should normally be controlled by Deploym

[2020-10-12 09:10] marians opened #138 "Add check for Service with a single endpoint"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
No. The feature request is about adding a check for something that is currently not covered.

**Describe the solution you'd like**

Services backed by only a single endpoint can

[2020-10-12 19:53] #129 closed

[2020-10-23 07:20] jsuchome opened #139 "False positive reports of " [POP-403] Deprecated Ingress API group "extensions/v1beta1". Use "networking.k8s.io/v1beta1" instead""
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When I run popeye on my Harbor deployment, I'm seeing [POP-403] warnings. However, harbor does indeed use correct API for ingress, since https://github.com/goharbor/harbor-helm/pull/631 . Even when I remove the check for Capabi

[2020-10-31 15:51] #136 closed

[2020-10-31 16:40] #138 closed

[2020-11-02 06:57] hmsvigle commented on #125
@eminugurkenar @derailed Kindly look into this feature request.

I have created dashboard in grafana as per data sent to prometheus through pushgateway. Currently, I am able to display only the total no of Error/Warn/Ok/Info Messages for every sanitizer. To get the detailed message, I would have to parse the report & segregate type of messages.

It would be beneficial if we can add info/Error/Warn

[2020-11-03 12:48] marians opened #141 "Output format 'prometheus' should be useable with --save and without push gateway"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

It is currently not possible (or not easy) to take a look at the prometheus metrics generated, without having a pushgateway running.

**Describe the solution you'd like**

I'd

[2020-11-04 16:52] marians commented on #137
I think this should be closed as done in https://github.com/derailed/popeye/commit/d728c19d71781ba705d5aab886cdf3dd5b1e9475

[2020-11-04 16:52] #137 closed

[2020-11-04 17:23] marians opened #143 "Check whether replicas are all on the same node"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

One of the common use cases for running a container orchestrator is the possibility to increase the availability of workloads by spreading replicas over several nodes. However,

[2020-11-05 19:18] peddyhh opened #144 "flag for excluding popeye codes"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
When I using popey like "popeye -l warn", I got the warning messages
      _"[POP-300] Using "default" ServiceAccount"_
This is not an issue, this is intended.

**Describe the s

[2020-11-23 08:01] igoooor commented on #134
I confirm I'm facing the same issue.

[2020-12-03 11:20] howardjones commented on #144
I would also like this. Especially for POP-300 and POP-400. Popeye does not appear to consider envFrom to be a "use" of a ConfigMap entry.

[2020-12-03 15:22] drewboswell opened #145 "Add rollback consistency tracking (ex: resources linked to replicasets)"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I can't tell if I can delete objects (secrets, roles etc) because they may be linked to a replicaset revision we keep around for possible rollbacks. I want to be able to delete

[2020-12-05 16:36] derailed commented on #144
@peddyhh @howardjones Thank you both for reporting this. You can use a [spinach.yml](https://github.com/derailed/popeye#the-spinachyaml-configuration) file to exclude the codes that you know are legit.

@howardjones  EnvFrom is  checked if that's no what you're seeing, please add more details here. Tx!!

[2020-12-05 16:44] derailed commented on #139
@jsuchome Thank you for this excellent report! This something that is a tough to crack in k8s land as the api versions are not stored in etcd so with kubectl you get the versions based on what you've requested. Helm does track those in the secrets and hence can retrieve the version info. To date, Popeye has been using metadata and self link to track version info but it is indeed not ideal. I'll ta

[2020-12-05 16:46] derailed commented on #134
@sebastienthirion @igoooor Thank you both for reporting this. I'll take a look and will fix in the next drop

[2020-12-05 16:50] derailed commented on #126
@woshizhuyumi Thank you for reporting this! Docs updated.

[2020-12-05 16:50] #126 closed

[2020-12-21 20:31] woshizhuyumi commented on #141
Hi @marians , just wondering how the entire Popeye-Prometheus process works?

Given:
I have a cluster running on Azure.

I want to:
send Popeye result to Prometheus Pushgateway

What I have tried:
Run Popeye inside of the cluster, as a cronjob. Every time a job is created, I can get the result by output the pod log.(End the pod ends up in Error STATE, after putting the result in its log.......)
Bu

[2020-12-30 12:52] marians commented on #141
@zhuyumi Sorry, can't help here, since I'm not running popeye in the cluster.

[2021-01-07 17:12] hemantdindi opened #147 "Unable to run popeye as a non-root container on k8s"
I have tried to create a non-root popeye container and run on a secure k8s environment.
However the process is not sending any results.

Can anyone help me with the changes that needs to be made on the attached manifest
[popeye-nonroot.txt](https://github.com/derailed/popeye/files/5783002/popeye-nonroot.txt)

[2021-01-07 18:08] hemantdindi commented on #147
Tried the args statement as below
`      args:
        - -o
        - json
        - --token=/var/run/secrets/kubernetes.io/serviceaccount/token`
reveived **Unauthorized** Message

[2021-01-11 06:27] hemantdindi commented on #147
The issue was fixed after modifying RBAC w.r.t our cluster.

[2021-01-11 06:27] #147 closed

[2021-01-11 06:34] hemantdindi opened #148 "Popeye CHOCKED! "invalid memory address or nil pointer dereference""
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When running popeye as a non-root image, the process is in hung state and we see the below msg in the logs -

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build a new non-root image and run on the k8s cluster-

[2021-01-12 17:09] premkumar-gg commented on #122
Has this been fixed yet? If we run popeye as a CronJob in a cluster, the pod will end up in error state, leaving it to restart a number of times.

[2021-01-12 17:13] premkumar-gg commented on #122
Gotcha.. I understand why a non-zero exit is necessary, and I see the reported issue here had been fixed in 0.8.10 👍

But, it seems we cannot run popeye as a CronJob anymore as it returns a non-zero exit.

[2021-01-12 23:11] derailed commented on #148
@hemantdindi Thank you, great catch! I push a fix in the next drop!

[2021-01-14 13:43] marians commented on #59
I see a related problem, if not the same one, on Deployments.

In a K8s 1.18 cluster, this is shown:

![image](https://user-images.githubusercontent.com/273727/104597793-11d16f80-5676-11eb-81f0-1346456ffbb0.png)

    😱 [POP-403] Deprecated Deployment API group "apps/v1beta1". Use "apps/v1" instead.

However `kubectl get deployment <name> -o yaml` shows:

[code]

[2021-01-14 16:02] bygui86 opened #151 "Additional flags: "report only", "score threshold" and "exit code""
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Running Popeye in my cluster as Job, if the score is not high enough (I suppose > 90), the whole run will fail because the exit code is 1.

**Describe the solution you'd like**

[2021-01-14 16:14] bygui86 opened #152 "Incomplete and incorrect Kubernetes RBAC"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Kubernetes RBAC seem to be incomplete and incorrect.

**To Reproduce**
Run as Job using RBAC manifests provided by the README.md in the repo:

[code]

**Expected behavior**
Popeye should be able to scan all Kubernetes resources

[2021-01-18 11:51] aszecowka opened #153 "False positive warnings for Network Policies"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Let assume that I have the following network policy:
[code]

Then, Popeye reports the following warning:
[code]

**Expected behavior**
No warning, if proper pods exist.

**Screenshots**
If applicable, add screenshots to help ex

[2021-01-21 13:51] danibaeyens opened #154 "--cluster-name flag is ignored"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Despite setting --cluster-name flag when launching popeye from a CronJob, the name is not set on any label nor report. Digging into the code looks like after several clean ups, this flag is not used internally any more.

It doe

[2021-01-25 17:43] glaracuente commented on #152
Just want to confirm that I also had issues with the rbac that is listed in the current k8s directory. These recommended rbac rules are working properly.

[2021-01-26 08:03] premkumar-gg commented on #154
Is it by design that CronJobs do not use a config file? Wouldn't it be useful to get it working with a config file?

PS: We recently started using Popeye at my workplace using CronJobs. I thought of adding config files in our CronJobs. This is a news for me that we cannot do that.

[2021-01-28 13:51] danibaeyens commented on #154
Well, it's not needed if they run with a `serviceAccountName` with enough permissions to perform such operations. You can create a specific "read-only" role, assign it to a service account, and run popeye with it. I guess using a kubeconfig file is also an option, but if its cert gets expired, you need to re-new them, etc etc...
For me it's easier the service account.

[2021-01-28 18:17] hemantdindi opened #156 "New UI for Popeye"
I have built a UI for running Popeye on k8s env.
Pls refer [here](https://github.com/hemantdindi/popeye_ui)

Its based on Python and DJango framework. I hope this will help the users who use popeye

[2021-02-01 18:39] peddyhh commented on #144
In CD- or CS-Pipelines I don't want to use an extra spinach.yaml file.
Sometimes it is not even possible to have an extra spinach.yaml file.

I would appreciate it a lot.

[2021-02-10 14:39] himpierre opened #159 "include mail command in docker image"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I'd like to send the reports of a popeye scan via email. That's not possibe at the moment with the default docker image used by the suggested cronjob.

**Describe the solution y

[2021-02-12 16:41] danibaeyens opened #160 "Add annotation to skip resources"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
We have a use case where we own a set of multi-tenant clusters, being a central team. Clusters have different namespaces owned by different teams.

Central team may want to get

[2021-02-15 17:00] marians commented on #160
I like the suggestion. One thing to think about is a way to make the annotation more expressive (than just binary true/false), e. g. to disable certain checks, but not others.

[2021-02-15 17:03] marians commented on #154
I can confirm the issue for 0.9.0

[2021-02-19 13:39] robwruck opened #161 "False positive [POP-401] when secret is both mounted and used in valueFrom"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When some entries of a secret are mounted as volumes *and* some are used in `valueFrom`, those used in `valueFrom` are reported as `[POP-401] Key "name" used? Unable to locate key reference.`

**To Reproduce**
Steps to reproduc

[2021-02-19 15:33] derailed commented on #161
@robwruck Great catch! Thank you. Will fix in the next drop.

[2021-02-25 01:27] jarrettprosser commented on #152
Yes, I found the same. Thanks for the corrected RBAC.

[2021-02-26 13:23] marians commented on #143
PR https://github.com/derailed/popeye/pull/149 attempts to close this issue and is ready for review.

[2021-04-01 08:36] hemantdindi commented on #148
Getting results when using individual components
[code]
Below command fails with the `choked' msg
[code]

[2021-04-28 15:50] pierrevillard opened #163 "popeye 0.9.0 with K8S 1.21.0 bug on PodDisruptionBudget - Wrong default API"
Hi,
Popeye 0.9.0 has been released before Kubernetes K8S 1.21.0.
By default Popeye watch for *PodDisruptionBudget* resources on K8S API *"policy/v1beta1/poddisruptionbudgets"*
On K8S **1.21.0**, *PodDisruptionBudget* has been migrated to API *"policy/v1/poddisruptionbudgets"*

In the next Popeye release, please add a check to force Popeye to watch for *PodDisruptionBudget* at API *"policy/v1beta1/

[2021-05-04 21:58] bryankaraffa opened #164 "Feat: Add Support Basic HTTP Auth for Prometheus Output"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Currently Popeye Prometheus output does not support basic HTTP auth for prometheus.

We would like to regularly test and push the findings to a centralized prometheus environmen

[2021-05-04 22:33] #141 closed

[2021-05-04 22:34] #110 closed

[2021-05-05 13:14] derailed commented on #164
@bryankaraffa Let's give that a rinse on v0.9.1

[2021-05-05 13:14] #164 closed

[2021-05-05 13:15] derailed commented on #161
@robwruck Fixed! v0.9.1

[2021-05-05 13:15] #161 closed

[2021-05-05 13:16] derailed commented on #154
@danibaeyens Great catch! let's see if we're happier in v0.9.1...

[2021-05-05 13:16] #154 closed

[2021-05-05 13:17] derailed commented on #153
@aszecowka Excellent report! Fixed v0.9.1

[2021-05-05 13:17] #153 closed

[2021-05-05 13:18] derailed commented on #152
@bygui86 Very nice! Thank you for pitch'ing in! Updated v0.9.1

[2021-05-05 13:18] #152 closed

[2021-05-05 13:20] derailed commented on #151
@bygui86 PR #150

[2021-05-05 13:20] #151 closed

[2021-05-05 13:20] derailed commented on #148
@hemantdindi Fixed v0.9.1

[2021-05-05 13:20] #148 closed

[2021-05-05 13:21] derailed commented on #139
@jsuchome Fixed 0.9.1

[2021-05-05 13:21] #139 closed

[2021-05-05 13:22] derailed commented on #128
@yogeek Fixed 0.9.1

[2021-05-05 13:22] #128 closed

[2021-05-05 14:09] bygui86 commented on #152
@derailed amazing thanks!!

[2021-05-05 14:12] bygui86 commented on #151
@derailed thanks a good PR!

What about "a (numeric) flag to set the score threshold, under which the command exit with code 1 (or different than 0)
for example --min-score-threshold/-t" ?

It could be really useful in case of some "temporary compromises" in a CI/CD :)

[2021-05-05 15:30] MikaelSmith commented on #86
This now appears to be a hard failure with Popeye v0.9.1:
[code]

[2021-05-07 07:50] antoineozenne opened #165 ""No metrics-server detected""
**Describe the bug**
With the new 0.9.1 version, when executing popeye, the command immediately return "Boom! 💥 No metrics-server detected" without analyzing. However, the 0.9.0 version works fine. My cluster doesn't have metrics server.

**To Reproduce**
Just run "popeye" command.

**Expected behavior**
Have a result without the need of metrics server.

**Versions (please complete the following i

[2021-05-08 00:11] derailed commented on #86
@MikaelSmith Thank you for the heads up! #165. Sorry my bad ;(

[2021-05-08 00:12] derailed commented on #165
@antoineozenne Tx for filing this! My bad. Will fix in the next drop!

[2021-05-09 23:31] mouchar opened #166 "POP-301 reported when automountServiceAccountToken disabled on ServiceAccount (not on Pod)"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
ServiceAccount I use has `automountServiceAccountToken: false`. It means that every Pod using this ServiceAccount does
**NOT** have token mounted unless explicitly enabled on Pod level.
The current implementation checks Automou

[2021-05-12 00:04] derailed commented on #166
@mouchar Excellent report! Tx Robert. Fixed v.0.9.2

[2021-05-12 00:04] #166 closed

[2021-05-12 00:05] derailed commented on #165
@antoineozenne Fixed v.0.9.2!

[2021-05-12 00:06] derailed commented on #134
@sebastienthirion @igoooor - Fixed v0.9.2!

[2021-05-12 00:06] #134 closed

[2021-05-12 03:51] mingcheng commented on #163
`and "policy/v1beta1/poddisruptionbudgets" for K8S >= 1.21.X`

maybe

 `and "policy/v1/poddisruptionbudgets" for K8S >= 1.21.X`

[2021-05-12 17:54] MikaelSmith commented on #165
Thanks! Looks like v0.9.2 didn't get fully tagged in quay though.

[2021-05-17 12:04] antoineozenne commented on #165
Thank you! Just tested, it works in v0.9.2.

[2021-05-21 14:21] arvan-pritchard opened #168 "Skip checks at container level"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
spinach configuration allows you to skip all checks for a container or codes for all containers in a pod. I'd like to skip particular codes on specific containers.

e.g. I know

[2021-05-24 09:16] stephenpope opened #169 "POP-1102 - Message formatting problem"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Looks like a formatting/output bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Create K3D cluster (K3S v1.20.6)
2. Run Popeye
3. Scroll down to `SERVICES`
4. Shows - `[POP-1102] Use of target port%!(EXTRA string=53,

[2021-05-25 05:17] woodliu opened #170 "can't run popeye when kubernetes has networking.k8s.io/v1/ingresses"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When i download the released binary file, and run "./popeye", it shows "Boom! No resource meta found for networking.k8s.io/v1/ingresses".
Can I skip the resource?

**To Reproduce**
just run "./popeye"

**Expected behavior**
pop

[2021-05-25 06:51] kk-kwok commented on #170
I also encountered the same problem。

kubernetes version: v1.18.4
popeye version: 0.9.2

# popeye --context develop
 ___     ___ _____   _____                       D          .-'-.
| _ \___| _ \ __\ \ / / __|                       O     __| K    `\
|  _/ _ \  _/ _| \ V /| _|                         H   `-,-`--._   `\
|_| \___/_| |___| |_| |___|                       []  .->'  X     `|-'
  Biffs`e

[2021-05-25 07:09] kk-kwok commented on #170
I cloned the git code to my computer, and modified the following two files, changed "networking.k8s.io/v1/ingresses" to "networking.k8s.io/v1beta1/ingresses" and then executed "go build" to build a new one "popeye", this new popeye can work normally now.

pkg/popeye.go
internal/dag/ing.go

[2021-05-25 07:09] kk-kwok commented on #170
I cloned the git code to my computer, and modified the following two files, changed "networking.k8s.io/v1/ingresses" to "networking.k8s.io/v1beta1/ingresses" and then executed "go build" to build a new one "popeye", this new popeye can work normally now.

pkg/popeye.go
internal/dag/ing.go

[2021-05-25 09:25] stephenpope commented on #170
I have the same issue with running against any `v1.18` cluster (and I assume any version before that). This issue should probably be renamed as related to Popeye not working with K8S v1.18.

[2021-05-26 02:04] kk-kwok commented on #170
clone code and modifie the following two files, change "networking.k8s.io/v1/ingresses" to "networking.k8s.io/v1beta1/ingresses" and then execute. "go build" to build a new one "popeye", this new popeye can work normally now.

pkg/popeye.go
internal/dag/ing.go

[2021-05-26 02:08] woodliu commented on #170
Yeah，popeye do not support the kubernetes which the "Ingress" resource version under "v1"

[2021-05-29 13:23] Thanzex opened #171 "Can't run Popeye"
**Description**
Running popeye both on my local machine and on a server that runs k8s popeye fails immediately with
`Boom! 💥 unable to retrieve the complete list of server APIs: server.com/v1alpha1: the server is currently unable to handle the request`.

The cluster works just fine and the API server is operational, `kubectl` works on both machines
I'm running k3s, but there shouldn't be any probl

[2021-06-02 07:36] DidierHoarau commented on #171
Hi,

I've encountered a similar issue.

The message I get is:
`Boom! 💥 unable to retrieve the complete list of server APIs: compose.docker.com/v1alpha3: the server is currently unable to handle the request, compose.docker.com/v1beta1: the server is currently unable to handle the request, compose.docker.com/v1beta2: the server is currently unable to handle the request, metrics.k8s.io/v1beta1: the s

[2021-06-04 09:33] shelltea commented on #170
same problem

[2021-06-04 19:42] pierreilki opened #172 "Make this wonderful project more attractive for new contributors"
Hi Popeye :)

Your project is very interesting, but it can be a be challenging for new contributors to know how it works, who code is architectured and how to setup a dev/test env.
Please add a contributing file that explains how community can help ! :)  No Free Slack channel ?

[2021-06-04 19:52] #172 closed

[2021-06-10 12:43] masterphenix opened #173 "Unable to locate resource reference for PVC used by a cronjob"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Popeye does not seem to be able to locate PVC reference when used by a cronjob :
[code]
Cronjob :
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cronjob that uses a PVC
2. Run popeye

**Expected behavior*

[2021-06-11 17:21] Goodwine commented on #169
I have identified the root cause and I'm interested in sending a PR to fix the underlying issue.

[2021-06-15 03:42] ebcarty commented on #173
I don't believe this is an issue with Popeye but rather a behavior of PVs and PVCs;  did you set a reclaimPolicy?  If not, I believe it defaults to delete such that the PV is deleted once its use is completed.

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#delete

Could you verify/confirm using `kubectl get pvc` and `kubectl get pv`?

[2021-06-15 08:44] masterphenix commented on #173
I confirm reclaim policy is set to "Delete". However, the PVC is never deleted, thus the PV is not deleted either. Both objects are aged more than 200 days. The cronjob is running daily,
To me, the PVC exists and is indeed used by the cronjob, it should not be deteced as unused.
[code]

[2021-06-15 13:39] TalZiv commented on #170
I have the same problem the weird thing is that popeye works in k9s. Hope this get fixed soon.

[2021-06-15 16:32] ahmetb opened #175 "Document Krew installation method"
It seems `kubectl krew install popeye` also works. Is that not a supported installation method? I don't see it in the README.

[2021-06-15 23:38] blairham commented on #138
@derailed @marians, can you provide some documentation around this as I don't believe this is the case. I've looked around and have been unsuccessful in finding any recommendation and would like to educate myself more on this as I seem to have been hitting this but cannot resolve it.

[2021-06-16 07:14] marians commented on #138
It's easy to explain: If a service has only one pod as a backend, any disruption affecting this single pod (e. g. an update) will take the service offline. The general idea in the Kubernetes world is to avoid these single points of failure and make the application resilient. In this case, a `ReplicaSet` controlling the pod which is backing the service should ensure more than one replica. The servi

[2021-06-16 07:18] marians commented on #138
@blairham Let me know if I missed the point of the question and explained something super obvious.

[2021-06-16 13:00] blairham commented on #138
@marians, ok, so as I understand what you are saying, you're not actually talking about the endpoints themselves but replication or more than 1 pod. I think the wording needs to be changed to reflect this as Kubernetes has endpoints and is a misleading message. In addition, the severity should be lowered as there are many situations where a single pod is ok.

I'll open a couple of bugs around thes

[2021-06-16 13:11] marians commented on #138
The terminology might be ambigious. When doing `kubectl describe svc` the term "endpoint" is used to describe the IP/port combinations in the pods which the service connects to.

[2021-06-16 16:28] blairham commented on #138
Correct, as the in the glossary, there's indeed no entry for endpoint, it is a well-defined Kubernetes network concept or abstraction. Since it's of secondary nature, you'd usually not directly manipulate it. There's a core resource Endpoint defined and it's also supported on the command line:

[code]
And there you see what it effectively is: an IP address and a port. Usually, you'd let a service

[2021-06-20 17:43] previousdeveloper commented on #170
same problem with Kubernetes v.1.16.11

[2021-06-22 06:52] peddyspg commented on #170
Will be there a fix?
I installed popeye via "brew" on mac os x. I would prefer to use brew updates.

My settings are:
`
popeye version
Version:   0.9.2
Commit:    83d93417b627afe24c642f110b72651e8a59f49

kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit:"1dd5338295409edcfff11505e7bb246f0d325d15", GitTreeState:"clean", BuildDate:"2021-01-13T13:23:52

[2021-06-22 13:00] #169 closed

[2021-06-22 13:11] derailed commented on #173
@masterphenix @ebcarty Thank you both for your comments! Popeye does not currently scan job/cronjob so that dependency on the pv/pvc won't be picked up. They are on the radar and will be implemented next...

[2021-06-22 13:17] #170 closed

[2021-06-23 12:02] SamuAlfageme commented on #170
Still getting the same outcome with the latest release and a cluster v1.18.2:

[code]

Q: Does the version difference between `kubectl` and the cluster's could affect the version detected by `popeye` somehow?

[2021-06-25 21:38] martinnagelberg opened #176 "Cannot run popeye: No resource meta found for networking.k8s.io/v1/ingresses"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When i try to execute "popeye" cli command after installation, i get "Boom! No resource meta found for networking.k8s.io/v1/ingresses"

**To Reproduce**
Steps to reproduce the behavior:
1. Just run popeye

**Expected behavior**

[2021-06-28 05:18] #176 closed

[2021-06-29 13:07] danibaeyens commented on #144
What about checking an annotation in certain resources?
In my use case, I run a multi-tenant cluster with different teams split by namespaces. I run a central prometheus which gets metrics from the different namespaces (I run popeye once per namespace), so teams can see their scores in grafana.

At the end, I'm the owner of popeye and it can be really cumbersome to update the spinach files to allo

[2021-06-29 13:19] danibaeyens commented on #144
OMG, I already did the suggestion at #160 ! Sorry about duplicating! I'll try to propose something, then :)

[2021-06-29 14:06] derailed commented on #144
@danibaeyens lol - nw I thought this sounded familiar... Yes I think annotations make sense. Pb here you do loose control as some teams may elect for less restrictive measures about their spinach configurations and thus yield a `seemingly` higher scores while masking underlying issues??

[2021-06-29 14:42] howardjones commented on #144
Should lots of 'ignore' annotations earn you a penalty? :-)

[2021-06-29 15:32] danibaeyens opened #177 "Allow just a certain set of registries"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Due to different reasons, many companies want to enforce a certain set of internal/allowed registries.
Reasons can be diverse:
 - Avoid issues with the new rate limiting policy

[2021-06-29 15:45] danibaeyens commented on #144
@derailed absolutely. Great power comes with great responsibility

@howardjones Yes! I thought about assing that as well. Maybe every "skipping" annotation triggers a info rule (which severity can be overridden by the spinach file if needed).

[2021-06-30 18:07] Goodwine opened #178 "Custom handling of client-go/rest warnings"
_Required by my employer: "Not a Contribution."_
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

### Is your feature request related to a problem? Please describe.

When running popeye, `client-go/rest` may output warnings to stderr such as deprecated resources or throttling.

`client-go/res

[2021-07-01 12:25] dignajar commented on #170
the same error in version 0.9.3.

[code]

[2021-07-07 09:56] frimik opened #180 "Add option to report Pods not covered by a matching PodDisruptionBudget"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

It would be nice if popeye could help with identifying where PodDisruptionBudget's have *not* been added properly.

**Describe the solution you'd like**

Option which enables a

[2021-07-07 09:57] #180 closed

[2021-07-07 09:58] frimik commented on #180
Popeye already supports this, I was looking at the wrong cluster, which *had* PDBs for everything ...

[2021-07-08 16:26] realsarm opened #181 "[POP-404] Deprecation check failed"
Hi
I'm getting `[POP-404] Deprecation check failed. Unable to assert resource version` on ingresses on GKE.
What is the problem?

[2021-07-12 15:22] johanfleury commented on #163
This makes popeye unusable on 1.21 (unless there’s a workaround that I couldn’t find).

IMO, this should be qualified as bug.

[2021-07-13 05:05] lee-harmonic opened #183 "Fails to run - No resource meta found for policy/v1beta1/poddisruptionbudgets"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Starting popeye gives the following error:
[code]

Running `kubectl api-resources` shows that poddisruptionbudgets is now v1, not v1beta1 (k8s version 1.21.2)

**To Reproduce**
Steps to reproduce the behavior:
1. Start a k8s v1

[2021-07-13 05:07] lee-harmonic commented on #183
Running the latest docker container image also fails in the same way

[2021-07-13 05:39] lee-harmonic commented on #175
It installs quite an old version, perhaps the krew index should be updated?

[2021-07-13 11:43] survivant commented on #181
I have the same question.  Here a Ingress that I have that return a POP-404 message.
[code]

[2021-07-13 11:47] survivant opened #184 "[POP-712] Found only one master node not flag on the right node"
the warning : [POP-712] Found only one master node  should have been on my master node instead (test-pcl4004)

[code]

[code]

[2021-07-13 14:13] jolet commented on #183
+1

Btw there is possible workaround mentioned in PR https://github.com/derailed/popeye/pull/182

Version:   0.9.3
Commit:    2cea93981a67ad138aa81efe2ad8c1889523626b
Date:      2021-06-22T13:19:25Z
Logs:      /tmp/popeye.log

here be logs from /tmp/popeye.log

`4:05PM DBG Connecting to API Server https://127.0.0.1:6443
4:05PM ERR No resource meta found for policy/v1beta1/poddisruptionbudgets
4:05

[2021-07-13 15:26] johanfleury commented on #163
I came with this diff, but I’m not sure it’ll actually work for < 1.21:

[code]

[2021-07-13 16:52] ahmetb commented on #175
For that, please consider setting up [Krew release automation](https://krew.sigs.k8s.io/docs/developer-guide/release/automating-updates/) which helps you skip manually making updates to your Krew manifests on each new version and send a pull request. It’s a GitHub workflow bot that can run every time you push a new tag. Those PRs are automatically approved.

[2021-07-14 14:38] jolet commented on #183
here are the changes to make it work on K8s Rev: v1.21.1
switch "policy/**_v1beta1_**/poddisruptionbudgets" with "policy/**_v1_**/poddisruptionbudgets"
changed files are
pkg/popeye.go
internal/dag/pdb.go

here git diff.
_diff --git a/internal/dag/pdb.go b/internal/dag/pdb.go
index 0ebe266..ad1b39a 100644
--- a/internal/dag/pdb.go
+++ b/internal/dag/pdb.go
@@ -43,7 +43,7 @@ func fetchPodDisruptionB

[2021-07-15 10:05] AljoschaP commented on #181
I get the same error on almost all resources with K8s version v1.21.2. Its related to the K8s version in combination with the following method:

https://github.com/derailed/popeye/blob/a80f6aeb06be01e0d5384b836239e09c8eadd4aa/internal/sanitize/dp.go#L224

The SelfLink field is deprecated with v1.21.0:

[code]

https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1#ObjectMeta

[2021-07-15 16:20] derailed commented on #183
Dup #163

[2021-07-15 16:20] #183 closed

[2021-07-15 16:49] #184 closed

[2021-07-15 18:08] derailed commented on #181
Fixed v0.9.4!

[2021-07-15 18:08] #181 closed

[2021-07-15 18:09] derailed commented on #163
Fixed v0.9.4. Thank you all for weighting in!

[2021-07-15 18:10] survivant opened #186 "Popeye 0.94 : Boom! No resource meta found"
I downloaded release 0.94 and when I ran the program, I got BOOM!.  Here in the top, with 0.93 I got output but now I have this (bellow)

[code]

[2021-07-15 18:30] derailed commented on #186
@survivant Soopa! Please include your k8s version so we can track this down

[2021-07-15 18:32] survivant commented on #186
[code]

if you have a flag to output a verbose log, tell me and I'll send you the output

[2021-07-15 22:50] #186 closed

[2021-07-16 12:18] AljoschaP commented on #181
Looks good but container push for v0.9.5 failed I think :see_no_evil:

[2021-07-16 12:27] douglascamata opened #188 "Can't run Popeye: `No resource meta found for networking.k8s.io/v1/ingresses`"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I cannot run Popeye on my cluster. It shows the message `No resource meta found for networking.k8s.io/v1/ingresses`. Looks like this was supposed to be fixed by #170 (released 0.9.3), but the problem is still there.

**To Repro

[2021-07-16 12:27] douglascamata commented on #188
Probably will be fixed with #182

[2021-07-16 14:52] derailed commented on #188
@douglascamata Thank you Douglas for reporting this! It looks like the cluster version is reported differently based on how the cluster was provisioned ie 18 vs 18+ ( this is where I went wrong ;( ). I do like the PR but think we need a more generic solution. I'll take a crack at it in the next drop and see if we're happier...

[2021-07-16 17:35] #188 closed

[2021-07-16 17:45] derailed commented on #178
@Goodwine Thank you for the heads up! Routing warning to the logger now. Let' see if we're happier on v0.9.6...

[2021-07-16 17:45] #178 closed

[2021-07-16 20:21] douglascamata commented on #188
No problem, @derailed! I’m glad a quick fix landed.

Thanks a lot for the fix all for all the open source tools you develop. I use k9s all the time and it’s amazing ❤️

[2021-07-17 01:31] derailed commented on #188
Very kind! Thank you Douglas!!

[2021-07-18 04:28] texpert commented on #188
Still the same error with popeye 0.9.6 on kubernetes cluster 1.13.12

[2021-07-20 00:40] lee-harmonic commented on #163
This appears to still be happening with popeye v0.9.6 and kubernetes 1.21.3. Also, the category is repeated.

[code]

[2021-07-20 07:14] pierreilki commented on #163
@lee-harmonic,

Does your "kubectl" version is 1.21.x too ?

[2021-07-20 12:58] julien-sugg opened #190 "[CI?] Popeye docker image tag 0.9.6 not available on quay.io"
Hi,

I started playing with Popeye today and I am having some issue to pull the most recent version of the Docker image (v0.9.6).

<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
It's not really a bug from a business perspective, however there appear to be an issue, probably

[2021-07-20 13:55] derailed commented on #163
@lee-harmonic Doh - Great catch! Thank you Lee!! Will fix in the next drop.

[2021-07-20 14:00] derailed commented on #190
@julien-sugg Great report! Thank you Julien!! Looks like we're getting rev limited ;( Switching out to DockerHub on the next drop.  In the meantime `docker pull derailed/popeye:v0.9.6`...

[2021-07-20 14:39] #190 closed

[2021-07-20 17:12] survivant opened #191 "use of Chocolatey package manager on Windows"
for Windows installation, there should be a Chocolatey package that is push for each release.

it's easier to update with Chocolatey and downloading the release manually.

[2021-07-23 13:00] jolet opened #192 "Old popeye docker image host in k8s cronjob.yml config"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Please reflect latest docker image relocation in k8s/popeye/cronjob.yml config, it still points to quay.io

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo and install popeye as desribed in "Popeye In Your C

[2021-08-09 17:01] Selin-PDQ opened #193 "Typo in popeye code definitions"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
There's a typo in [this MD file](https://github.com/derailed/popeye/blob/master/docs/codes.md#persistantvolume-persistantvolumeclaim)
`persistantvolumeclaim` should be spelled `

[2021-08-09 17:04] Selin-PDQ commented on #193
is it okay for me to fork this repo and open a PR that fixes this? I wasn't able to find any contributing guidelines.

[2021-08-09 17:23] derailed commented on #193
@Selin-PDQ Ah good catch! sure - PR away!

[2021-08-09 17:49] Selin-PDQ commented on #193
Thanks! I've fixed it and opened a PR here:
https://github.com/derailed/popeye/pull/194

[2021-08-09 21:05] #193 closed

[2021-08-18 18:00] michelzanini opened #195 "How to fix POP-300 : Using “default” ServiceAccount ?"
Hi,

Sorry for this question, if it's not the correct place to ask, etc...

But I have been trying to fix POP-300 ("Using "default" ServiceAccount") but I am not really sure how to do that.
I know I can set a different `serviceAccountName` but I don't have any service account I wish to use.

I am just running a simple Java pod/deployment, what should I do in this case?

If I should do nothing and

[2021-08-23 09:28] lineberty-internal opened #196 "Run popeye on kube behind a http proxy"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

My cluster isn't accessible directly but through a proxy (tinyproxy) and I run all kubectl command like this:
```HTTP_PROXY=host:port kubectl get pods```
<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Without a proxy configu

[2021-08-24 14:55] kevin-lindsay-1 commented on #138
I agree that the wording of this warning is unintuitive.

[2021-08-24 15:02] kevin-lindsay-1 opened #197 "[Docs] Description, reasoning, and examples for codes"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I would call it a documentation problem more than anything.

**Describe the solution you'd like**
When I use popeye via `k9s`, I get the `POP-` error/warning codes and their mes

[2021-08-26 13:39] kevin-lindsay-1 opened #198 "DRY up exclusions"
I have a few charts for services that have warnings that I can't fix, because there's no configuration for them in the chart's `values`.

In order to quiet the noise from these charts, I need to specify every resource type they create, and then exclude them via name, a la:

[code]

This is pretty bulky.

I can think of two ways to support this:

1. Support a method of reference in sequences. `.git

[2021-09-01 13:42] yogeek opened #199 "all docker tags are not available on quay.io"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I wanted to deploy the latest popeye release `v0.9.7` and did not found the corresponding docker image.
It seems that every tag corresponding to popeye releases are not pushed to quay.io.
The last "non-latest" tag is  `v0.9.1`

[2021-09-01 13:52] derailed commented on #199
@yogeek - I am sorry, that's on me! Missed some refs to quay.io ;( The official Popeye images are on [dockerhub](https://hub.docker.com/r/derailed/popeye)

[2021-09-01 14:02] derailed commented on #195
@michelzanini Right! as you are finding your application uses the default serviceaccount which is generic and does not accurately represent what your application can or cannot do on your clusters. POP-300 warns you of that situation. So you can either exclude the code in your spinach.yml file if this does not apply or create a serviceaccount representing your application which will allow you to at

[2021-09-01 14:03] derailed commented on #192
@jolet Oops! Thank you for the heads up!! Fixed!

[2021-09-01 14:03] #192 closed

[2021-09-01 14:23] michelzanini commented on #195
Ok. Most applications won't need RBAC or K8S API access. That means probably going the ignore route would be the best? Or is it worth having a empty service account each app which is not called default?

[2021-09-02 12:51] yogeek commented on #199
@derailed ok thank you !

[2021-09-02 12:51] #199 closed

[2021-09-24 14:42] 1stewart opened #200 "Can't filter containers in spinach.yaml for deployments"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Can't filter containers in spinach.yaml for deployments. Filtering by deployment FQN or code works as expected.

**To Reproduce**

1. Have a report with a deployment warning for no resources/limits on a container

![image](http

[2021-09-30 00:26] ulfatufo opened #201 "New York city Texas"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descripti

[2021-09-30 00:27] ulfatufo commented on #190
- [ ]

- **#[](url)**

[2021-09-30 00:30] #201 closed

[2021-10-03 02:23] yelinaung commented on #171
I had the same issue
[code]

The solution that worked for me (from the helm issue link above) is
- deleting all the `apiservices` with AVAILABLE being `False`
- deleting this particular `apiservices` -
[code]
- finding the `metric-server` in the cluster by `k get deployment -A  | grep "metrics"` and restarting it with `k rollout restart deployment -n kube-system metrics-server-v0.3.6` (this is the

[2021-10-05 16:22] meier-christoph opened #202 "False positive on NetworkPolicy using a catch all namespaceSelector"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Popeye reports the following NetworkPolicy with a false positive on POP-1201.

**To Reproduce**

[code]

**Expected behavior**
Popeye should support NetworkPolicies that use empty namespaceSelectors and not consider this a warn

[2021-10-13 03:09] taintedkernel opened #203 "Incorrect counting of scanned resources or non-intuitive scoring"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When I exclude codes from being scanned, the end result is that my score is lower whereas I'd expect the opposite.

**To Reproduce**
Steps to reproduce the behavior:
1. On my cluster and with the current excludes I have in plac

[2021-10-22 06:51] robspekschoor opened #204 "Calling bottle :unneeded is deprecated! There is no replacement"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When running brew commands it outputs that deailed/popeye is calling :unneeded which is deprecated

**To Reproduce**
Steps to reproduce the behavior:
1. run "brew update; brew upgrade; brew upgrade --cask; brew cleanup;"
2. che

[2021-10-26 15:05] #198 closed, assigned to nobody

[2021-11-16 07:07] sticksen commented on #138
I also didn´t get it at first glance that it can be (most often) solved by adding a second replica.
But also to understand it deeper: wouldn´t k8s reschedule the Pod to a different Node, if the underlying Node fails? Is this warning mostly about HA?

[2021-11-21 15:11] yashodhanmohan opened #206 "Popeye does not consider "startupProbe" as a valid probe and lists the pods with "No probes defined""
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
For containers that only have a startup probe, popeye only checks for liveness probe and readiness probe. This causes it declare that there are no probes defined even though there are. If the plan is to only check for liveness

[2021-12-15 17:19] elatov opened #207 "popeye 0.9.8 with K8S 1.23.0 bug on horizontalpodautoscalers - Wrong default API"
Similar to  #163 with K8S 1.23 the version for **autoscaling** has changed:

[code]

here is the version of K8s:

[code]

Else when i run `popeye`, I am receiving the following error:

[code]

It's trying to use **v1** vs **v2**

[2021-12-27 09:05] Fcscanf opened #208 "I cloned the project and solved the Kubernetes 1.23.1 version access problem, but the file size packed locally is five times bigger than the release version, why is that?"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descripti

[2022-01-14 14:48] Berber31 opened #209 "POP-403 - PodSecurityPolicy (PSP) k8s v1.21 deprecation - k8s v1.25 deletion - not detected"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
POP-403 (PodSecurityPolicy deprecated since k8s v1.21 and deleted in v1.25) is not detected

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a PodSecurityPolicy (group policy/v1beta1) on k8s v1.21.11 cluster
2. Scan

[2022-01-18 09:30] Berber31 opened #210 "Scanned items counting by kind in report is incorrect (with exclusions)"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Scanned Items counting by kind in the report is incorrect when we exclude some codes.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy 1 pod in `my-ns` namespace and declare exclusions:
  _config.yaml_
[code]

2. ru

[2022-01-19 17:32] MikaelSmith opened #211 "v1 Ingress in K8s v1.22 not found"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use Docker Desktop (or presumably another Kubernetes v1.22.5 environment)
2. Install a v1 Ingress
3. Run popeye

**Expected behavior**
Ingress resources should be fin

[2022-01-19 19:13] Berber31 commented on #211
when you say `v1 Ingress` you probably mean `networking.k8s.io/v1beta1` ?
cause in experienced the same for `networking.k8s.io/v1beta1` deprecated since k8s v1.19 and deleted in k8s v1.22

[2022-01-19 19:14] MikaelSmith commented on #211
No, in this case I've installed a `networking.k8s.io/v1` Ingress.

[2022-01-19 19:21] Berber31 commented on #206
mmm i agree with popeye for that, cause startup probe is only executed until succes threshold is reached (and only then liveness and readiness are exected (https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes)
startup probe is NOT executed along the container lifecycle
so a startup probe is not enouth to check liveness or readi

[2022-01-19 19:25] Berber31 commented on #211
ho sorry, my bad, you'r right i misunderstood your issue (too exited to expect an opened issue with `networking.k8s.io/v1beta1` )

[2022-01-19 19:30] Berber31 opened #212 "Ingress `networking.k8s.io/v1beta1` deprecated since k8s v1.19 and deleted in k8s v1.22, is not detected ONLY in specific namespace name as `kube-metriques`"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Ingress `networking.k8s.io/v1beta1` deprecated since k8s v1.19 and deleted in k8s v1.22, is not detected when deployed into specific namespace name as `kube-metriques`

**To Reproduce**
Steps to reproduce the behavior:
1. Apply

[2022-01-19 19:31] derailed commented on #206
@yashodhanmohan - @Berber31 is correct. Startup probe is a convenience for slow starting workloads. Readiness/Liveness probes are additional hints to k8s do indicate the "health" of your workload and hence should be a good practice to observe in most cases.

[2022-01-19 20:13] Berber31 opened #213 "Ingress `extensions/v1beta1` deprecated (and deleted in k8s v1.22) is not detected ONLY in kube-metriques namespace"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Ingress `extensions/v1beta1` deprecated (and deleted in k8s v1.22), is not detected when deployed on specific namespace (kube-metriques)

**To Reproduce**
Steps to reproduce the behavior:
1. Apply an Ingress `extensions/v1beta1

[2022-01-21 06:28] yashodhanmohan commented on #206
Ahh that makes sense I guess. Confusion from my side. Cheers!

[2022-01-21 06:28] #206 closed

[2022-01-28 08:06] djablonski-moia commented on #211
@derailed I was able to fix this locally by replacing all `netv1b1` usages with `netv1` imports, but I'm afraid this will break backwards compatibility. Can you hint me to a place where you solved something similar? I would try to create a PR then.

[2022-01-31 11:32] Berber31 opened #214 "[POP-1100] No pods match service selector - should not be detected for `ExternalName` service type"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
A POP-1100 issue should not be detected for ExternalName service type

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy an `ExternalName` service type
2. Scan it
3. Issue `[POP-1100] No pods match service selector` i

[2022-02-03 15:55] hsyedshams opened #216 "[POP-400] Used? Unable to locate resource reference"
Hi out there,

I am trying to deploy popeye on k3s  single node cluster.

Pod immediately CrashLoopBackOff  state.
[code]
Here is the log of the pod:

[code]

deployment.yml

[code]

evens of namepsace :

[code]

[2022-02-07 08:03] djablonski-moia commented on #211
For the time being, it works for me with the binary built from the PR above. If anyone wants to give it a try with older versions than 1.22, I'd be happy to some feedback 😉

[2022-02-07 18:18] MikaelSmith commented on #211
Fixed my issue. I have a Kubernetes 1.19 environment I'll test as well.

[2022-02-07 19:16] MikaelSmith commented on #211
Seems to also work fine in a K3s 1.19 test environment. I have no idea if it will work on anything older than that.

[2022-03-15 19:07] taintedkernel commented on #207
Any chance we could get a PR on this?  I can create one if that will help.

[2022-03-16 15:26] elatov commented on #207
@taintedkernel please go ahead. Thanks.

[2022-04-13 04:17] wyuenho opened #221 "Update krew package data"
arm64 builds have been available for a while now but the krew index is still saying there's no build for darwin/arm64. It would be nice if you could update the `.krew.yaml` file and make this awesome tool available to more folks on ARM computers.

[2022-04-14 14:26] #211 closed

[2022-04-14 15:01] #207 closed

[2022-04-14 15:13] #177 closed

[2022-04-22 17:05] ivorodrigues commented on #197
A good sugestion would be something like https://hub.armo.cloud/docs/c-0006

[2022-04-25 02:42] chrislinan opened #223 "Group the report by avaliable zone"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
No, I just want to ask could we consider provide this feature.

**Describe the solution you'd like**
Could we add a section in the report make the resources(pod, node, pv, pvc)

[2022-04-27 18:37] elatov commented on #207
@derailed would you happen to know if there is a plan to release **0.10.0** tag in [dockerhub](https://hub.docker.com/r/derailed/popeye/tags)? As of right now I just see **0.9.8** and **latest**.

[2022-04-30 00:17] derailed commented on #207
@elatov v0.10.0 is parked for your viewing pleasure. Tx!

[2022-04-30 00:50] elatov commented on #207
Awesome, thank you very much!

[2022-05-18 20:12] brentkoch opened #225 "Upgrade client_golang to 1.11.1 due to CVE-2022-21698"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
client_golang is at version 1.11.0 which has CVE-2022-21698 associated with it rated as a 7.5 Severity. Documentation on the issue is here: https://www.whitesourcesoftware.com/vulnerability-database/CVE-2022-21698

**To Reprodu

[2022-06-28 23:18] fulvi0 opened #227 "Unable to use popeye with k8s 1.3v"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
After exec the popeye command, through an error with the message "Boom! No resource meta found for networking.k8s.io/v1beta1/ingresses"

**To Reproduce**
Steps to reproduce the behavior:
1. $ popeye

**Expected behavior**
After

[2022-07-19 11:14] howardjones opened #228 "POP-400 on (nearly) all namespaces?"
**Describe the bug**
A clear and concise description of what the bug is.

With an Azure AKS cluster running k8s 1.21.7, using my admin credentials, popeye reports almost all namespaces in the cluster as POP-400 "Used?".

**To Reproduce**
Steps to reproduce the behavior:
1. Run popeye against cluster

**Expected behavior**
These namespaces all have applications running in them. I expected that to b

[2022-07-19 11:20] howardjones opened #229 "Timestamp on the report?"
**Is your feature request related to a problem? Please describe.**

We are planning to run Popeye as a CronJob within our clusters and push the results to a Blob Storage. I have that working with an external tool for pushing to Azure storage, but it would be really useful to be able to see in the report when it actually ran. We use the HTML report, but I think it would be useful for other formats

[2022-07-28 11:09] survivant opened #230 "APIs: metrics.k8s.io/v1beta1: the server is currently unable to handle the request"
[code]

[code]

<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

[code]

<img width="321" alt="image" src="https://user-images.githubusercontent.com/191879/181491160-de9784c8-52a8-4771-b333-00e3e83086f4.png">

I used this as metricserver
[code]

[2022-08-01 11:26] sgardnerdell commented on #200
+1

Would be really nice to exclude codes on specific containers.  Perhaps this could be achieved by changing the spinach configuration schema to allow:

[code]

[2022-08-08 12:01] peddyspg opened #231 "wrong warning: [POP-107] No resource limits defined"
**Describe the bug**
In our opinion a warning like "**[POP-107] No resource limits defined**" is wrong, if _requests.cpu_ is set.

**To Reproduce**
Define a POD with containerlimits, like (ip-masq-agent on GKE):
`
   ...
    imagePullPolicy: IfNotPresent
    name: ip-masq-agent
    resources:
      requests:
        cpu: 10m
        memory: 16Mi
    securityContext:...`

**Expected behavior**
This

[2022-08-16 02:36] mnpenner commented on #228
*One* of my namespaces has a ✅ but I don't know what makes that one different. They all have stuff running in them.

[2022-08-22 11:24] OllowainT opened #232 "Metrics get overridden when using the same Pushgateway for multiple k8s clusters"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
With the pretty cool feature of exporting the generated report in Prometheus output format, we are able to send the metrics to a Prometheus instance via a pushgateway.
The pushgateway needs to be defined as target to Scrape by

[2022-09-06 14:38] zapman449 commented on #228
Several suggestions:

1. POP-400 should not trigger on the `default` service account in a namespace, because it will always exist, whether used or not.
2. POP-400 needs to review cronjob spec for service accounts before claiming "not used"

[2022-09-06 18:26] howardjones commented on #228
What I was seeing was the Namespaces themselves. And judging by the lack of any notices for anything in them, popeye is not seeing their content.

[2022-11-07 15:01] AndersBennedsgaard opened #235 "--lint level does not affect html output"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
`--lint` does not affect the HTML output

**To Reproduce**
Steps to reproduce the behavior:
1. `popeye -l error -o html`

**Expected behavior**
Only error messages are showed in the output

**Versions (please complete the follo

[2022-11-14 07:44] djablonski-moia opened #236 "Checking Kubernetes 1.25 clusters fails due to PodSecurityPolicy"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_bug.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**

When checking a cluster that is running Kubernetes 1.25, `popeye` fails with the following error message:

[code]

This is obviously due to the fact that PSPs have been removed from K8s 1.25.

**To Reproduce**

Just run `popey

[2022-11-29 00:31] rbjorklin opened #237 "Support multiple outputs at once"
<img src="https://raw.githubusercontent.com/derailed/popeye/master/assets/popeye_feature.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
It seems wasteful to run Popeye several times targeting the same namespace if I want to produce both an html report and push metrics to a Prometheus pushgateway.

**Describe the